<section class="container">

       <!-- main content -->
       <section class="content">
           <article class="mainblock">
               <hgroup>
                   <h2>About TripReviewer</h2>
               </hgroup>

            <p>Tripreviewer.com is the only website in the world that provides reviews from multiple websites for any hotel or restaurant within USA & CANADA.</p>
            <p>Backed by over ten years offirst-hand experience within the travel sector, we, the founders,realized there was a growing need for an online platform where a guest could research reviews from multiple websites for a restaurant or a hotel.</p>
            <p>Over the past 10 years, many online websites have created what is a review jungle for a naive consumer trying to research a hotel or restaurant for their business or leisure purpose. We, at Tripreviewer.com, saw an average consumer spending a tremendous amount of time and effort surfing and switching from one website to another trying to read and research reviews and rates for hotels & restaurants.</p>
			<p>After years of hard work in collecting, merging, and filtering an enormous amount of information, TripReviewer.com is now open to the public. We have the first ever, one-of-its kind, online portal for travelers, where they can read/research reviews and prices from multiple websites on one site.</p>
			<p>We appreciate you visiting us. You may learn more about us by simply contacting us at contact@tripreviewer.com</p>	
           </article>

           <aside>


           </aside>
       </section>

   </section>