<section class="container">

    <!-- main content -->
    <section class="content">
        <article class="mainblock">
            <hgroup>
                <h2>Notice For Claims Of Copyright Infringement</h2>
            </hgroup>

            <p>
                If you believe, in good faith after having performed a reasonable investigation, that your

                copyrighted work has been copied in a way that constitutes copyright infringement by activity on

                <a href="http://www.tripreviewer.com">www.tripreviewer.com</a>, please provide Tripreviewer’s
                Copyright Agent with the following

                information, in writing:</p>

            <ol>
                <li> A clear identification of the copyrighted work(s) claimed to have been infringed.</li>

                <li> A clear identification of the material that you claim is infringing the copyrighted work(s),

                    and information that will allow us locate the material on our website, such as a link and

                    screen shot of the material(s).
                </li>
                <li> Your contact information so that we can reply to your complaint, preferably including an

                    email address and telephone number.
                </li>
                <li> Include the following statement: "I have a good faith belief that the use of the material in

                    the manner complained of is not authorized by the copyright owner, its agent, or the law."
                </li>
                <li> Include the following statement: "I swear, under penalty of perjury, that the information

                    in the notification is accurate and I am the copyright owner, or am authorized to act on

                    behalf of the owner, of an exclusive right that is allegedly infringed."
                </li>
                <li> A physical or electronic signature of a person authorized to act on behalf of the owner of

                    an exclusive right that is allegedly infringed.
                </li>
            </ol>

            <p>
                Notice of claims of copyright infringement should be sent to Tripreviewer’s Copyright Agent

                at the following email address


            </p>

            <p>
                Tripreviewer Copyright Agent <br>
                <a href="mailto:copyright@tripreviewer.com">copyright@tripreviewer.com</a>


            </p>

            <p>
                We will review and address all notices that comply with the requirements above.
            </p>


        </article>

        <aside>


        </aside>
    </section>

</section>