<section class="container">

        <!-- main content -->
        <section class="content">
            <article class="mainblock">
                <hgroup>
                    <h2>TripReviewer FAQ'S</h2>
                </hgroup>

                <p>
                <b>1.What is TripReviewer.com?</b>
                </p>
                <p>
                    Ever felt betrayed by trusting reviews from a single source after a hotel stay or a restaurant experience?
                </p>
                <p>
                    Ever had to spend long minutes or hours trying to read reviews about a hotel or a restaurant on all over the internet?
                </p>
                <p>
                TripReviewer.com is a one of a kind website ever, which will provide you online reviews for hotels or
                restaurants from multiple online sources. After years of handwork, TripReviewer.com team is presenting you a
                very uniquely designed and organized reviews for hotels and restaurants with in USA & Canada.
                </p>

				<p>
                <b>2.How are you different from other travel search sites?</b>
                </p>
                <p>
                    As of right now, TripReviewer.com is the only website which provides you hotel & restaurant
                    reviews from multiple sources such as Google.com, Tripadvisor.com, Yelp.com, Expedia.com,
                    FourSquare.com. It becomes uniquely helpful to a TripReviewer.com user when they are able to read
                    reviews from all major online websites at one stop. Also, it puts out a perfect picture of a hotel or a
                    restaurant in front of a TripReviewer.com`s User.
                </p>

                <p>
                <b>3.What is TripReviewer Rating?</b>
                </p>
                <p>
                    With in recent years, the online Reviews and Ratings have become a jungle which confuses online
                    users instead of giving them a perfect picture about a restaurant or a hotel they are willing to spend
                    money at. Star Ratings have become untrustworthy where as online Reviews are constantly being
                    manipulated by the business owners or their competitors.
                </p>
                <p>
                    TripReviewer.com Rating puts out a perfectly merged, Filtered and User Friendly Rating after
                    aggregating rating and reviews data received from tens of major online travel site servers.
                </p>

                <p>
                <b>4.Do you sell hotels Room nights?</b>
                </p>
                <p>
                    Yes, while researching a hotel, you will find rates from TripReviewer.com and from many other
                    online websites. You may book with TripReviwer.com or based on your needs you may book with
                    any of TripReviewer.com partnered online travel websites.
                </p>

                <p>
                <b>5.Why do you have Hotels & Restaurant combined?</b>
                </p>
                <p>
                    Whether a user travels for leisure purpose or for a business purpose, Hotels and Restaurants are the
                    2 strongest factors that may make users` trip a heaven or a hell. We wanted to provide a comfort to a
                    TripReviewer.com user to be able to read reviews not only for hotels but also for surrounding
                    restaurants to a hotel they chooses to stay at. While reading reviews about the restaurants, we have
                    are also working towards providing an online restaurant menu for TripReviewer.com users`
                    comfort.
                </p>

                <p>
                <b>6.Can I make restaurant reservation?</b>
                </p>
                <p>
                    No, At this point of time we are focused to provide you as many reviews from all over the internet for
                    all the hotels and restaurants with in USA & Canada. At the same time, hotel reservations are open
                    for TripReviewer.com users.
                </p>

                <p>
                <b>7.How can I change or cancel my booked hotel?</b>
                </p>
                <p>
                    Please click <a href="manage_reservation.html">here</a> to find the relevant information on how to cancel your reservation.
                </p>

                <p>
                <b>8.Are you owned by any hotel or travel agencies?</b>
                </p>
                <p>
                    We are not owned by any hotels or online travel Agencies.
                </p>

                <p>
                <b>9.Are you on Facebook or Twitter or G+?</b>
                </p>
                <p>
                    We sure are. Like us <a href="https://www.facebook.com/mytripreviewer">here</a> and follow us <a href="https://twitter.com/tripreviewer">here</a>
                </p>

            </article>

            <aside>


            </aside>
        </section>

    </section>