<section class="container">

    <!-- main content -->
    <section class="content">
        <article class="mainblock">
            <hgroup>
                <h2>Manage Your Booking:</h2>
            </hgroup>


            <p>If you have questions about your reservation or need to make changes, please refer to copy of your
                confirmation email for specific instructions. This is the quickest way to receive the proper
                support.
            </p>

            <p>Please look at the information below if you made the reservation with us or with one of our booking
                partner sites. </p>


            <table class="checkrates" width="100%" border="0" cellspacing="0" cellpadding="0">

                <thead>
                <tr>
                    <th>Name</th>
                    <th>Phone # / Website</th>
                    <th>Hours</th>
                </tr>
                </thead>

                <tbody>
                <tr>
                    <td><img src="images/check_tripreviewer.png" width="161" height="48"></td>
                    <td>1-800-780-5733<br>
                        <a href="https://www.travelnow.com/selfService/467116/searchform" target="_blank">www.tripreviewer.com</a>
                    </td>
                    <td>Monday – Sunday 24/7</td>
                </tr>
                <tr>
                    <td><img src="images/getaroom.png" width="120" height="60"></td>
                    <td>1-866-797-2025<br>
                        <a href="https://www.getaroom.com/reservations" target="_blank">www.getaroom.com</a></td>
                    <td>Monday – Sunday 24/7</td>
                </tr>
                <tr>
                    <td><img src="images/ETB-Logo-Orange.png" width="120" height="60"></td>
                    <td>1-855-581-1698<br>
                        <a href="http://www.easytobook.com/en/mybooking/" target="_blank">www.easytobook.com</a>
                    </td>
                    <td>Monday – Sunday 24/7</td>
                </tr>
                <tr>
                    <td><img src="images/booking.com.png" width="161"></td>
                    <td>1-888-850-3958<br>
                        <a href="http://www.booking.com/content/cs.html?sid=5e2e48891e7e29cdc765bdd949614c97;dcid=4"
                           target="_blank">www.booking.com</a></td>
                    <td>Monday – Sunday 24/7</td>
                </tr>
                </tbody>
            </table>


        </article>

        <aside>


        </aside>
    </section>

</section>