<section class="container">

    <!-- main content -->
    <section class="content">
        <article class="mainblock">
            <hgroup>
                <h2>PRIVACY POLICIES</h2>
            </hgroup>


            <p>

                TRIPREVIEWER is an online service that provides users with access to third-party

                recommendations and reviews for hotels and restaurants through service providers which are

                identified by name and/or logo on the TRIPREVIEWER Website. We are committed to

                providing meaningful privacy protection for all visitors of our web site. Accordingly, we have

                adopted this Privacy Policy to serve as the foundation for our privacy practices and procedures.
            </p>

            <p>

                This Privacy Policy applies to information that we obtain when you use the

                TRIPREVIEWER Website. TRIPREVIEWER does not collect personal name, postal address,

                email address or other personal information. We and/or third parties with whom we partner may

                use cookies to track and to collect information regarding visitor activities on the

                TRIPREVIEWER web site, such as the following:

            </p>

            <ul>
                <li> Location (country, city)

                </li>
                <li> Amount of time spent on our site</li>
                <li> Number of pages visited</li>
                <li> Links selected by visitor</li>
                <li> Referring Site (how you accessed our site, e.g., via Facebook, Twitter, Google, etc.)</li>
                <li> Type of device used to access our site (personal computer, tablet or smartphone;

                    windows or MAC)
                </li>
                <li> Browser type (Google Chrome, Internet Explorer, Firefox, etc.)</li>
            </ul>

            <p>
                It may be possible to disable some, but not all, cookies through your device or browser

                settings, but doing so may affect your ability to use our site. The method for disabling cookies

                may vary by device and browser, but can usually be found in preferences or security settings.
            </p>

            <p>The TRIPREVIEWER Website links to third party websites. This Privacy Policy does

                not apply to your activities and any information that you disclose on these third-party websites.

                We recommend that you examine the privacy statements posted on those other websites to

                understand their procedures for collecting, using, and disclosing personal information.</p>

            <p>TRIPREVIEWER may revise this Privacy Policy from time to time. The most current

                version of the Privacy Policy will govern our use of information about you. By continuing to

                access or use the Site after those changes become effective, you agree to be bound by the revised

                Privacy Policy.</p>

            <p> If you have any questions regarding the Privacy Policy, please contact us at

                contact@tripreviewer.com </p>
        </article>


        </article>


        <aside>

            <ul>
                <!-- <li><a href="aboutus.html">About tripreviewer</a></li>
                 <li><a href="javascript:void(0)">Help Center</a></li>
                 <li><a href="javascript:void(0)">Fact Sheet</a></li>
                 <li><a href="javascript:void(0)">Our Team</a></li>
                 <li><a href="javascript:void(0)">Jobs</a></li>-->
                <li class="active"><a href="javascript:void(0)">Privacy Policy</a></li>
                <!-- <li><a href="javascript:void(0)">Copyright Complaint Policy</a></li>-->
                <li><a href="#/static/terms">Terms of Use</a></li>
                <!--<li><a href="javascript:void(0)">Mobile Licenses</a></li>
                <li><a href="javascript:void(0)">Press Center</a></li>
                <li><a href="javascript:void(0)">In the News</a></li>
                <li><a href="javascript:void(0)">Press Releases</a></li>
                <li><a href="javascript:void(0)">Survey Insights</a></li>
                <li><a href="javascript:void(0)">Awards</a></li>
                <li><a href="javascript:void(0)">Get Listed</a></li>
                <li><a href="javascript:void(0)">Write a Review</a></li>
                <li><a href="javascript:void(0)">Management Response</a></li>
                <li><a href="javascript:void(0)">Travel Advisories</a></li>-->
            </ul>
        </aside>
    </section>


</section>