<section class="container">

    <!-- main content -->
    <section class="content">
        <article class="mainblock">
            <hgroup>
                <h2>Tripreviewer.com Terms and Conditions</h2>
            </hgroup>

            <article>

                <p>
                    TRIPREVIEWER, INC. is an online service that provides users with access to third-party
                    recommendations and
                    reviews for hotels and restaurants through service providers which are identified by name and/or
                    logo on the
                    TRIPREVIEWER web site (www.tripreviewer.com).
                    The terms “we,” “us”, and “TRIPREVIEWER” refer to TripReviewer, Inc., an Illinois corporation.
                    The term “you” refers to anyone who uses or visits www.tripreviewer.com. The terms “Site” and
                    “Website” refer to
                    the website www.tripreviewer.com.
                </p>

                <h2>1. Acceptance </h2>

                <p>By using or visiting this Website, you accept and agree to be bound by these Terms of Use (also
                    referred to as
                    the “Agreement”) and our Privacy Policy found here.
                    Do not access or use this Website if you are unwilling or unable to be bound by either the Terms of
                    Use or
                    Privacy Policy. </p>
            </article>


            <article>
                <h2>2. Changes to the Terms of Use</h2>

                <p>We may change or otherwise modify the Agreement from time to time.
                    You understand and agree that your continued access to or use of this Website after any such change
                    signifies
                    your acceptance of the updated or modified Agreement.
                    We will note the date that revisions were last made to the Agreement at the bottom of this page, and
                    any
                    revisions will take effect upon posting.
                    Please return to this page periodically to review the most current version of the Agreement.
                </p>

            </article>

            <article>
                <h2>3. Links to Third-Party Sites</h2>

                <p>This Website contains hyperlinks to websites operated by parties other than TRIPREVIEWER.
                    Such hyperlinks are provided for reference only.
                    After visiting the TRIPREVIEWER website, you may link to any one of these third party websites to
                    access their
                    resources or to prepare and submit on their web site a review of a hotel or restaurant.
                    You may also attempt to book a hotel or restaurant reservation on anyone of these third-party
                    websites to the
                    extent that such website provides the resources to do so.
                    We do not own, operate or control these third-party websites and are not responsible for their
                    contents, terms
                    of use, privacy policies, or services. </p>

            </article>

            <article>
                <h2>4. No Unlawful, Unauthorized or Prohibited Use of Website</h2>

                <p>a. As a condition of your use of this Website, you warrant that you will not use it, directly or
                    indirectly, for
                    any use or purpose that is unlawful or that is unauthorized or prohibited by this Agreement. In
                    particular, you
                    agree not to, and will not assist, encourage, or enable others to use this Site to:</p>

                <p> i. Violate any third party's rights, including but not limited to, any breach of confidence,
                    copyright,
                    trademark, patent, trade secret, moral right, privacy right, right of publicity, or any other
                    intellectual
                    property or proprietary right;</p>

                <p> ii. Send bulk emails, surveys, or other mass messaging, whether commercial in nature or not; engage
                    in keyword
                    spamming, or otherwise attempt to manipulate this Site's search results or any third party
                    website;</p>

                <p> iii. Modify, adapt, appropriate, reproduce, distribute, translate, create derivative works or
                    adaptations of,
                    publicly display, sell, trade, or in any way exploit the Website, including its content, except as
                    expressly
                    authorized by TRIPREVIEWER;</p>

                <p> iv. Use any robot, spider, site search/retrieval application, or other automated device, process or
                    means to
                    access, retrieve, scrape, or index any portion of the Website or its content;</p>

                <p> v. Reverse engineer any portion of the Website;</p>

                <p> vi. Remove or modify any copyright, trademark or other proprietary rights notice that appears on any
                    portion of
                    the Website or on any materials printed or copied from the Website;</p>

                <p> vii. Record, process, or mine information about other users;</p>

                <p> viii. Access, retrieve or index any portion of the Website for purposes of constructing or
                    populating a
                    searchable database of business reviews;</p>

                <p> ix. Reformat or frame any portion of the Website;</p>

                <p> x. Take any action that imposes, or may impose, in our sole discretion, an unreasonable or
                    disproportionately
                    large load on TRIPREVIEWER’S technology infrastructure or otherwise make excessive traffic demands
                    of the
                    Website;</p>

                <p> xi. Attempt to gain unauthorized access to the computer systems or networks connected to the Website
                    through
                    hacking, password mining or any other means;</p>

                <p> xii. Use the Website or its content to transmit any computer viruses, worms, defects, Trojan horses
                    or other
                    items of a destructive nature;</p>

                <p> xiii. Interfere with any security-related features of the Website, including any features that
                    prevent or
                    restrict the use or copying of Website content, or any features that enforce limitations on the use
                    of the
                    Website.</p>

                <p> xiv. The restrictions above only apply to the extent permissible under applicable law. Nevertheless,
                    you agree
                    not to act contrary to them, even if such would be permissible under applicable law, without
                    providing 30 days'
                    prior written notice to us here, together with any information that we may reasonably require to
                    give us an
                    opportunity to provide alternative remedies or otherwise accommodate you at our sole discretion.</p>

                <p> b. You acknowledge that TRIPREVIEWER may or may not pre-screen content, but that TRIPREVIEWER has
                    the right (not
                    the obligation) at its sole discretion to screen, refuse, or move any content on this Website.
                    Notwithstanding
                    any term or provision of this Agreement, TRIPREVIEWER shall have the right to remove any content
                    that violates
                    these Terms of Use or that it determines, in its sole discretion, is objectionable.</p>


            </article>


            <article>
                <h2>
                    5. LIABILITY DISCLAIMER
                </h2>

                <p>PLEASE READ THIS SECTION CAREFULLY. THIS SECTION LIMITS TRIPREVIEWER’S LIABILITY TO YOU FOR ISSUES
                    THAT MAY ARISE
                    IN CONNECTION WITH YOUR USE OF THIS WEBSITE. IF YOU DO NOT UNDERSTAND THE TERMS IN THIS SECTION OR
                    ELSEWHERE IN
                    THE AGREEMENT, PLEASE CONSULT A LAWYER FOR CLARIFICATION BEFORE ACCESSING OR USING THIS WEBSITE.</p>

                <p> THE INFORMATION, SOFTWARE, PRODUCTS, AND SERVICES PUBLISHED ON THIS WEBSITE MAY INCLUDE INACCURACIES
                    OR ERRORS,
                    INCLUDING RESERVATION AVAILABILITY AND PRICING ERRORS. TRIPREVIEWER DOES NOT GUARANTEE THE ACCURACY
                    OF, AND
                    DISCLAIMS ALL LIABILITY FOR, ANY ERRORS OR OTHER INACCURACIES RELATING TO THE INFORMATION AND
                    DESCRIPTION OF THE
                    HOTEL, RESTAURANT AND ANY OTHER TRAVEL PRODUCTS DISPLAYED ON THIS WEBSITE (INCLUDING, WITHOUT
                    LIMITATION, THE
                    PRICING, AVAILABILITY, PHOTOGRAPHS, LIST OF HOTEL AMENITIES, GENERAL PRODUCT DESCRIPTIONS, REVIEWS
                    AND RATINGS,
                    ETC.). IN ADDITION, TRIPREVIEWER EXPRESSLY RESERVES THE RIGHT TO CORRECT ANY AVAILABILITY AND
                    PRICING ERRORS ON
                    ITS WEBSITE AND/OR ON PENDING RESERVATIONS MADE UNDER AN INCORRECT PRICE.</p>

                <p> TRIPREVIEWER MAKES NO REPRESENTATIONS ABOUT THE SUITABILITY OF THE INFORMATION, SOFTWARE, PRODUCTS,
                    AND SERVICES
                    CONTAINED ON THIS WEBSITE FOR ANY PURPOSE, AND THE INCLUSION OR OFFERING OF ANY PRODUCTS OR SERVICES
                    ON THIS
                    WEBSITE DOES NOT CONSTITUTE ANY ENDORSEMENT OR RECOMMENDATION OF SUCH PRODUCTS OR SERVICES BY
                    TRIPREVIEWER. ALL
                    SUCH INFORMATION, SOFTWARE, PRODUCTS, AND SERVICES ARE PROVIDED "AS IS" WITHOUT WARRANTY OF ANY
                    KIND.
                    TRIPREVIEWER DISCLAIMS ALL WARRANTIES AND CONDITIONS THAT THIS WEBSITE, ITS SERVERS OR ANY EMAIL
                    SENT FROM
                    TRIPREVIEWER, ARE FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS. TRIPREVIEWER HEREBY DISCLAIMS ALL
                    WARRANTIES AND
                    CONDITIONS WITH REGARD TO THIS INFORMATION, SOFTWARE, PRODUCTS, AND SERVICES, INCLUDING ALL IMPLIED
                    WARRANTIES
                    AND CONDITIONS OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE, AND NONINFRINGEMENT.</p>

                <p> THE THIRD-PARTY SUPPLIERS PROVIDING HOTEL, RESTAURANT, TRAVEL OR OTHER SERVICES ON THIS WEBSITE ARE
                    INDEPENDENT
                    CONTRACTORS AND NOT AGENTS OR EMPLOYEES OF TRIPREVIEWER. TRIPREVIEWER IS NOT LIABLE FOR THE ACTS,
                    ERRORS,
                    OMISSIONS, REPRESENTATIONS, WARRANTIES, BREACHES OR NEGLIGENCE OF ANY SUCH SUPPLIERS OR FOR ANY
                    PERSONAL
                    INJURIES, DEATH, PROPERTY DAMAGE, OR OTHER DAMAGES OR EXPENSES RESULTING THEREFROM. TRIPREVIEWER HAS
                    NO
                    LIABILITY AND WILL MAKE NO REFUND IN THE EVENT OF ANY DELAY, CANCELLATION, OVERBOOKING, STRIKE,
                    FORCE MAJEURE OR
                    OTHER CAUSES BEYOND ITS DIRECT CONTROL, AND IT HAS NO RESPONSIBILITY FOR ANY ADDITIONAL EXPENSE,
                    OMISSIONS,
                    DELAYS, RE-ROUTING OR ACTS OF ANY GOVERNMENT OR AUTHORITY.</p>

                <p> IN NO EVENT SHALL TRIPREVIEWER BE LIABLE FOR ANY DIRECT, INDIRECT, PUNITIVE, INCIDENTAL, SPECIAL, OR
                    CONSEQUENTIAL DAMAGES ARISING OUT OF, OR IN ANY WAY CONNECTED WITH, YOUR ACCESS TO, DISPLAY OF OR
                    USE OF THIS
                    WEBSITE OR WITH THE DELAY OR INABILITY TO ACCESS, DISPLAY OR USE THIS WEBSITE (INCLUDING, BUT NOT
                    LIMITED TO,
                    YOUR RELIANCE UPON REVIEWS AND OPINIONS APPEARING ON THIS WEBSITE; ANY COMPUTER VIRUSES,
                    INFORMATION, SOFTWARE,
                    LINKED SITES, PRODUCTS, AND SERVICES OBTAINED THROUGH THIS WEBSITE; OR OTHERWISE ARISING OUT OF THE
                    ACCESS TO,
                    DISPLAY OF OR USE OF THIS WEBSITE) WHETHER BASED ON A THEORY OF NEGLIGENCE, CONTRACT, TORT, STRICT
                    LIABILITY, OR
                    OTHERWISE, AND EVEN IF TRIPREVIEWER HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.</p>

                <p> If TRIPREVIEWER is found liable for any loss or damage that arises out of or is in any way connected
                    with your
                    use of our sites or services, then TRIPREVIEWER will in no event exceed, in the aggregate, the
                    greater of (a)
                    the transaction fees paid to TRIPREVIEWER for the transaction(s) on this Website giving rise to the
                    claim, or
                    (b) One-Hundred Dollars (US $100.00).</p>

                <p> The limitation of liability reflects the allocation of risk between the parties. The limitations
                    specified in
                    this section will survive and apply even if any limited remedy specified in these terms is found to
                    have failed
                    of its essential purpose. The limitations of liability provided in these terms inure to the benefit
                    of
                    TRIPREVIEWER.</p>
                </p>
            </article>

            <article>
                <h2>
                    6. INDEMNIFICATION
                </h2>

                <p>You agree to defend and indemnify TRIPREVIEWER and its officers, directors, employees and agents from
                    and against
                    any claims, causes of action, demands, recoveries, losses, damages, fines, penalties or other costs
                    or expenses
                    of any kind or nature including but not limited to reasonable legal and accounting fees, brought by
                    third
                    parties as a result of:</p>

                <p> (i) your breach of this Agreement;</p>

                <p> (ii) your violation of any law or the rights of a third party; or </p>

                <p> (iii) Your use of this Website.</p>


            </article>

            <article>

                <h2>
                    7. MISCELLANEOUS
                </h2>

                <p> a. We reserve the right to modify, update, or discontinue this Website at our sold discretion, at
                    any time, for
                    any or no reasons, and without notice or liability. </p>

                <p> b. These terms and conditions shall be governed by and construed in accordance with the laws of the
                    State of
                    Illinois, without resort to its conflict of law provisions. Any action at law or in equity arising
                    out of or
                    relating to these terms and conditions shall be filed only in the State Courts of Cook County, or
                    the United
                    States District Court for the Northern District of Illinois, and the parties hereby irrevocably and
                    unconditionally consent and submit to the exclusive jurisdiction of such courts over any suit,
                    action or
                    proceeding arising out of these terms and conditions.</p>

                <p> c. We reserve the right to modify, update, or discontinue the Site at our sole discretion, at any
                    time, for any
                    or no reason, and without notice or liability.</p>

                <p> d. You agree that no joint venture, agency, partnership, or employment relationship exists between
                    you and the
                    TRIPREVIEWER as a result of this Agreement or use of this Website.</p>

                <p> e. This Agreement between you and us regarding the use of the Website supersedes any prior agreement
                    between you
                    and us on such subject matter. The parties acknowledge that no reliance is placed on any
                    representation made but
                    not expressly contained in this Agreement.</p>

                <p> f. Any failure by TRIPREVIEWER to exercise or enforce any right or provision of the Terms of Use
                    does not
                    constitute a waiver of such right or provision.</p>

                <p> g. If any provision of this Agreement is found to be unenforceable or invalid, then only that
                    provision shall be
                    modified to reflect the parties' intention or eliminated to the minimum extent necessary so that the
                    Agreement
                    shall otherwise remain in full force and effect and enforceable.</p>

                <p> h. Any rights or obligations hereunder, are not assignable, transferable or sub licensable by you
                    except with
                    TRIPREVIEWER’s prior written consent, but may be assigned or transferred by us without restriction.
                    Any
                    attempted assignment by you shall violate this Agreement and be void.</p>

                <p> i. The section titles in this Agreement are for convenience only and have no legal or contractual
                    effect.</p>


            </article>


        </article>

        <aside>

            <ul>
                <!-- <li><a href="aboutus.html">About tripreviewer</a></li>
                 <li><a href="javascript:void(0)">Help Center</a></li>
                 <li><a href="javascript:void(0)">Fact Sheet</a></li>
                 <li><a href="javascript:void(0)">Our Team</a></li>
                 <li><a href="javascript:void(0)">Jobs</a></li>-->
                <li><a href="#/static/privacy">Privacy Policy</a></li>
                <!--<li><a href="javascript:void(0)">Copyright Complaint Policy</a></li>-->
                <li class="active"><a href="javascript:void(0)">Terms of Use</a></li>
                <!--<li><a href="javascript:void(0)">Mobile Licenses</a></li>
                <li><a href="javascript:void(0)">Press Center</a></li>
                <li><a href="javascript:void(0)">In the News</a></li>
                <li><a href="javascript:void(0)">Press Releases</a></li>
                <li><a href="javascript:void(0)">Survey Insights</a></li>
                <li><a href="javascript:void(0)">Awards</a></li>
                <li><a href="javascript:void(0)">Get Listed</a></li>
                <li><a href="javascript:void(0)">Write a Review</a></li>
                <li><a href="javascript:void(0)">Management Response</a></li>
                <li><a href="javascript:void(0)">Travel Advisories</a></li>-->
            </ul>
        </aside>
    </section>


</section>