<div class="wrapp">
<div class="full-details">
<br />

<h5 class="h5-about pdng-tp30" id="transportation">Transportation</h5>
<p class="para">With some of the best and biggest transportation in the United States, getting around Boston is a lot easier than you think. If you're planning on using public transportation for the majority of your trip, check out the Charlie Card.  It's an all-in-one card for public transport and saves your money at the same time.  You can buy the card and add money to it online or purchase one at a variety of transportation stops.</p>

<h6 class="h6-about">Taxi</h6>
<p class="para">Taxis are everywhere in Boston.  If you have a group, they are more cost effective and quicker than other transportation options. If getting a taxi is not your thing, Boston has you covered with other various transportation choices.</p>

<h6 class="h6-about">Bus</h6>
<p class="para">The bus system in Boston is massive.  There is a bus going somewhere at every second of the day.  With thousands of routes, taking the bus around Boston and the surrounding areas is manageable and afforda-ble.  Daily passes are available, making it easy to hop-on and hop-off dif-ferent buses, ferries, rail, or subways around the city.  To plan your trips or for more general information on bus transportation, the city's transport website is going to be your best friend.</p>

<h6 class="h6-about">Subway</h6>
<p class="para">Boston's underground system is one of the oldest in the country and runs daily from the city center and out to surrounding areas.  For a real-time schedule, check out the city's transport site.</p>

<h6 class="h6-about">Uber</h6>
<p class="para">Uber has become a highly sought out transport solution in many major cities including Boston.  If you have a smartphone and want a reliable and safe ride somewhere, Uber may be the option for you.  There are even smartphone codes you can use to get your first ride for free.</p>

<h5 class="h5-about pdng-tp30" id="airport">Getting to/from Airport</h5>
<h6 class="h6-about">Logan International Airport</h6>
<p class="para">Located less than five miles from downtown Boston, this airport is fully connected with a variety of transportation options for you. Visit the air-port's website for times and fares.  Taxis will cost around $20-35to get into the city, so if you are traveling with a group, this may be a great op-tion.  If not, check out the website for cheaper options like shuttles and bus times.</p>

<h5 class="h5-about pdng-tp30" id="history"> Boston's History</h5>
<p class="para">Boston was founded in 1630 and since then has become on of the most influential cities in the country.  The city has a big part in the American Revolution, and the majority of America's political and financial begin-nings were formed in Boston.  From the Boston Tea Party to the Civil War to the Battle at Bunker Hill, each historical event now found in our classroom textbooks has helped shape our country in to what it is today.</p>

<h5 class="h5-about pdng-tp30" id="neighborhoods">Neighborhoods</h5>
<p class="para">Boston is divided into a variety of different neighborhoods full of fun, food, and people from all over the world.  Each area has it's own unique feel and purpose, making Boston feel like multiple cities all rolled into one.</p>

<h6 class="h6-about">Downtown</h6>
<p class="para">Downtown Boston is a mixed bag of business, arts, and tourist attrac-tions.  Most of the accommodation is found downtown, close to shopping and tourist attractions like Fenuil Hall Marketplace. It's a great area to check out to see history mingle with contemporary.</p>

<h6 class="h6-about">Charlestown</h6>
<p class="para">Charlestown is the first neighborhood of Boston, populated by many Irish-American immigrants.  Although the area has had a huge facelift in the last 30 years, the Irish culture is still very prominent throughout the area.  It's a beautiful place to visit by boat and see historic buildings and homes that line the streets overlooking the bay.</p>

<h6 class="h6-about">Fenway/Kenmore</h6>
<p class="para">The name should give away what's in store in this neighborhood. Fen-way Park, the most famous landmark in the whole city, is located here. Baseball fans, students, and locals make this area a vibrant place to vis-it.</p>

<h5 class="h6-about">Back Bay</h6>
<p class="para">Back Bay is one of the most exclusive neighborhoods in New England.  Known for their rows of 19th-century Victorian brownstone homes, Back Bay is expensive, classy, and an architectural gem.  The Boston Public Library is located in the area, as well as chic boutiques and award-winning cuisine.</p>

<h6 class="h6-about">Beacon Hill</h6>
<p class="para">The most expensive and picturesque neighborhood, Beacon Hill im-presses all who wander the narrow cobblestone streets. Mainly a resi-dential area of old colonial houses, Beacon Hill is a fun place to visit to see the rich history of the city.  Great cafes and bars are also located here to make the visit completely worth it, including the famous ‘Cheers' bar.</p>

<h5 class="h5-about pdng-tp30" id="dining">Dining</h5>
<p class="para">Boston is a culinary dream. With being one of the country's oldest cities, it has had years to develop a restaurant scene.  And a scene it is.  With world-class chefs, traditional New England fare, and up-and-coming din-ing experiences, Boston is well worth eating your way through.</p>

<h6 class="h6-about">Mike & Patty's</h6>
<p class="para">One of the highest rated breakfast joints, Mike & Patty's offers breakfast sandwiches like no other.  Try their Breakfast Torta or their Goldmine sandwich with wild clover honey whipped ricotta, crispy pancetta, and soft egg.  It's one of the local's favorites.</p>

<h6 class="h6-about">McKenna's Cafe</h6>
<p class="para">Another local favorite, McKenna's Cafe is always busy.  Located a little bit out of the city in Dorchester, the cafe has one of the most impressive breakfast menus of any restaurant in the city.  Highly rated, locally loved, and worshipped by tourists, this breakfast joint isn't going anywhere any-time soon.  Just make sure you get there early, as the line gets long real-ly quick.</p>

<h6 class="h6-about">Thornton's Restaurant</h6>
<p class="para">This super busy diner packs in the people every day of the week.  Thornton's Restaurant is so popular, a line outside is not unusual.  They serve up hearty dishes so you won't be leaving hungry.  They are known for their variety of eggs benedict and scrambles.  Easily located down-town, this breakfast hot spot is worth it.</p>

<h6 class="h6-about">The Breakfast Club</h6>
<p class="para">A little farther outside of the city center The Breakfast Club is worth the drive.  Decorated in 80's memorabilia, a homage to the infamous Break-fast Club movie.  Here you will indulge on great American breakfast dishes, including Nutella french toast.  Many of their items are made from scratch like their jam and sweet potato fries.  This place gets packed so arrive early. </p>

<h6 class="h6-about">Lunch</h6>
<h6 class="h6-about">Sportello</h6>
<p class="para">If you're craving homemade pasta in an upscale atmosphere, Sportello is your spot. Try their Asparagus Salad to start off with, then on to one of their handmade pastas and end with their popular coconut cake for des-sert.  Don't forget to leave room for a glass of wine from their most im-pressive list.  The food here is simple, beautiful and fresh.</p>

<h6 class="h6-about">Blunch</h6>
<p class="para">Blunch is a fantastic spot for those who are wanting a sandwich or salad.  These hand-crafted pressed sandwiches are filled with delicious ingre-dients and are hugely popular with the locals and caught the attention of the ever-popular Food Network.  They've been featured on TV as well as in other media sources, and they all say the same thing.  These sand-wiches are delicious.</p>

<h6 class="h6-about">The Gallows</h6>
<p class="para">This is a great place to go if you're in to people watching and want a good beer to wash down your lunch.  Trendy, loud, and welcoming, The Gallows is a great stop in your food itinerary. The lunch menu is minimal and changes weekly, but every item on the menu sounds mouth-watering.  They even have tasting boards for those who love to share.</p>

<h6 class="h6-about">Al's State Street Cafe</h6>
<p class="para">This no-gimmick sandwich shop pumps out hundreds of sandwiches a day using fresh and local ingredients.  A local chain, this lunch spot is great if you're in the mood for hearty sandwiches, or need something on the go.  Portions are big, so keep that in mind.  You can even or a bag lunch which includes a sandwich, soda and bag of chips for $8.50. If you're on a budget, this is your place.</p>

<h6 class="h6-about">Cafe de Boston</h6>
<p class="para">A marketplace eatery focusing on Mediterranean cuisine, this busy lunch spot is a popular place with the locals.  Only open during the week, Cafe de Boston serves hot and cold buffet options as well as a salad bar.  It's a popular take-out joint too.  Located in the middle of the city, this is a great spot for lunch if you're out and about sightseeing.</p>

<h6 class="h6-about">Dinner</h6>
<h6 class="h6-about">Figs</h6>
<p class="para">If pizza is on your mind, Figs in Beacon Hill and Charlestown is the place you need to go.  Free-form wood oven pizzas are their specialty, but that's not all.  Handmade pastas, big salads and fresh ingredients are all special at Figs. Those looking for a place to get high quality food in a re-laxing atmosphere should look no further.</p>

<h6 class="h6-about">The Daily Catch</h6>
<p class="para">Blink and you will miss this hole-in-the-wall restaurant.  The Daily Catch may not be inventive with their name, but their food definitely is.  Sea-food is the name of the game at this multi-location restaurant.  Whether you're in the mood for mussels, clams, chowder, or fresh caught fish, The Daily Catch's menu is extensive and interesting.  Good news for you; they take reservations!</p>

<h6 class="h6-about">Capital Grille</h6>
<p class="para">If you are going out on the town and want the ultimate dining experience, head to Capital Grille. By far one of the most expensive places in town, this is definitely a place to wine and dine.  Their menu is comprised of dry-aged steaks, lobster mac and cheese, and mouth-watering sides to accompany the rest of the meal. If the food isn't extravagant enough for you, check out their wine list that has over 350 wines for you to choose from.</p>

<h6 class="h6-about">Mystery Cafe Dinner & Show</h6>
<p class="para">If you have ever wanted to participate in a murder-mystery dinner show, here's your chance.  The location of the dinner changes periodically and the show requires audience participation, making these dinners a huge hit in Boston.  Mystery Cafe Dinner & Show is not just a show, it's a performance! Enjoy a three-course dinner while you help solve the mystery.</p>

<h6 class="h6-about">Fire + ice</h6>
<p class="para">Located in the prestigious area of Back Bay, this stir-fry grill is lively, loud, and a lot of fun.  Customers get to pick and choose from a large variety of ingredients to put in their stir-fry, then get to watch the chefs cook it in front of them. Certain cuisines are on special each night, from Mexican to Asian to Italian. Fire + ice is a great place to dine if you want something delicious in a lively atmosphere.</p>

<h5 class="h5-about pdng-tp30" id="accomodation">Where to stay</h5>
<p class="para">Boston is set up to give any visitor with any budget a great place to stay.  From the five-star classics to three-star hotels for the budget-minded traveler, the city takes care of its visitors.  Depending on the area you decide to stay, prices and availability range drastically.  You can expect to pay the most around touristy spots like Fenway Park and downtown.</p>

<h6 class="h6-about">Boston Harbor Hotel</h6>
<p class="para">The Boston Harbor Hotel is pure elegance. Located right on the waterfront at the famous Rowes Wharf Harbor, this hotel takes service to the next level.  With packages for every traveler, this five-star luxury accommodation  makes every guests feel at home. From wine, breakfast in bed, rooms for your pets, and personal drivers, Boston Harbor Hotel is your place to rest.</p>
		
<h6 class="h6-about">Mandarin Oriental</h6>
<p class="para">This hotel is first-class all the way. Located in the most inclusive region of the city, the Mandarin Oriental takes Eastern inspiration and mixes it with east coast luxury.  For spa lovers, this hotel is for you.  The spa is the only Forbes five-star spa in the entire state.  With elegance and top-notch amenities at your fingertips, you'll never leave the hotel.</p>

<h6 class="h6-about">The Ritz-Carlton</h6>
<p class="para">The Ritz-Carlton is name that exudes supreme elegance. And that is exactly the case for this hotel in Boston.  Located in between the financial and theatre districts, this hotel is perfect for those who are wanting to spend their time indulging in the city's culture and arts scene. The hotel is merely steps away from the famous Boston Opera House. The long list of amenities available include free wi-fi, $1 million art gallery, and an impressive 100,000 square foot fitness club. If that's not enough, there's a limo available during the week to take you wherever you want to go. 
Chicago has to offer.</p>

<h6 class="h6-about">Mid-range</h6>

<h6 class="h6-about">Ames Boston Hotel</h6>
<p class="para">Located in a historic building built in 1893, the Ames Boston Hotel takes boutique accommodation to the next level.  With a beautiful brick bar, in-credible food and a 24-hr fitness center, this downtown hotel is one of the best options for the price.  Those who enjoy contemporary art and design mixed with history will never want to leave this top-rated hotel.</p>

<h6 class="h6-about">The Langham</h6>
<p class="para">Chocolate bar anyone? This hotel uses classic and contemporary with style. The Langham is classic British elegance and service in one hotel.  But that's only the beginning. The famous chocolate bar is in it's 26th year, giving guests over 100 types of treats in one sitting.  If that doesn't get you to book immediately, maybe their views of the Boston skyline will change your mind.</p>

<h6 class="h6-about">Seaport Boston Hotel</h6>
<p class="para">This hotel may have it all for a great price.  Located overlooking Boston's Inner Harbor, the Seaport Boston Hotel has value.  Not only does this hotel have all the amenities one needs to feel comfortable, the hotel has Zipcars available to rent right outside.  Only minutes from the airport and all the major attractions in Boston, the Seaport just might be your home away from home.</p>

<h6 class="h6-about">Budget-Friendly</h6>

<h6 class="h6-about">Courtyard Boston Tremont Hotel</h6>
<p class="para">Located by Back Bay and the Theatre District downtown, this budget-friendly hotel offers great amenities and one killer spot.  The hotel offers free wi-fi, roller beds, coffee, and kid's meals, so keep that in mind if you're traveling with little ones.</p>

<h6 class="h6-about">The Copley Square Hotel</h6>
<p class="para">Going to a baseball game at Fenway Park? This hotel is a great spot for you to rest your head.  There's also a lot of history involved in the iconic building built back in the 1800's.  The Copley Square Hotel is the second-oldest operating hotel in the country, and remains a famous landmark to the locals and tourist alike.  Free internet, coffee, cheap breakfast buffet and a complimentary wine service nightly, this hotel really gives you the best bang for your buck in the city.</p>

<h6 class="h6-about">Harborside Inn of Boston</h6>
<p class="para">If location is your main component when looking for a cheaper hotel, then look no further.  Harborside Inn of Boston has one of the best locations in the city right on the water, hence the name.  There are no frills to this hotel, but the friendly staff, free wi-fi, and free coffee/tea in the lobby make up for it.  Did I mention the location? It's a stone's throw from Faneuil Hall, one of the city's best attractions.</p>

<h6 class="h6-about">Days Hotel Boston/Cambridge</h6>
<p class="para">Located a little outside of the city, Days Hotel offers a great hotel for a great price. Amenities include free wi-fi, free parking and fitness room.  This hotel is perfect for those wanting to visit the Ivy league universities Harvard and MIT. Local transportation is across the street from the hotel, making it convenient to get into the city without the hassle of driving.</p>

<h6 class="h6-about">Red Roof Plus+ Wooburn/Boston</h6>
<p class="para">Only 11 miles away from downtown Boston, this budget-friendly hotel is ranked one of the top hotels for the price. The list of amenities is impres-sive, from free breakfast to free internet to free parking to an indoor pool.  All rooms are stylishly furnished with comfortable beds, tables and flat-screen TVs and coffeemakers. If you're looking for the best bang for your buck, Red Roof Plus+ is your best bet.</p>

<h6 class="h6-about">Comfort Inn North Shore</h6>
<p class="para">17 miles from Boston, Comfort Inn North Shore is a fantastic place to rest your tired feet after a day in the city.  With two pools to swim in, a fitness center to get your heart pumping, and a breakfast buffet with waffles, this hotel may be as close to home as you can get.  Relax in style without the price of being downtown.  Free wi-fi and free parking are also included in the stellar price. For those heading to Salem to learn about the history of the area, this hotel is only six miles away.  A great stay in the middle of two fantastic destinations.</p>

<h6 class="h6-about">Comfort Inn Boston - Rockland</h6>
<p class="para">Another hotel in the Comfort Inn chain, this one is on the opposite side of Boston. A little over 15 miles to downtown, Comfort Inn Boston-Rockland is a great hotel for those who want to stay outside the city limits and are looking for a cheaper price tag for a room.  Equipped with incredible amenities like free wi-fi, free buffet breakfast, free parking, fitness room, and business center, this hotel is worth every dollar.</p>

<h5 class="h5-about pdng-tp30" id="attractions">Boston's best attractions</h5>
<p class="para">Boston is jam packed with fun places to visit, parks to explore, games to watch, and people to see.  But there are some places in the city that you shouldn't leave without seeing.  These are what make Boston an iconic city, and keep tourists coming back for more year after year.</p>

<h6 class="h6-about">Fenway Park</h6>
<p class="para">This baseball park is an institution to not only the city of Boston, but to the game of baseball too.  One of the oldest ballparks still standing and functioning, fans come from all around the world to catch a game, event or concert in the historic field.  If you're not there during baseball season, you can still take a tour of the grounds and learn the significance of the park and why so many Bostonians love their home team the Boston Red Sox.</p>

<h6 class="h6-about">The Freedom Trail</h6>
<p class="para">If you want to take a step back in history and learn more about the start of the United States, the Freedom Trail is right up your alley.  The Freedom Trail is a 2.5 mile walk through the heart of Boston that passes by 16 locations that are significant U.S. historical landmarks. The trail was created in 1951 to honor the importance of the country's beginnings. The trail is marked throughout the city's stone streets and highlighted red in certain areas.</p>

<h6 class="h6-about">Faneuil Hall Marketplace</h6>
<p class="para">Shoppers and foodies will rejoice at Faneuil Hall.  With over 70 shops and restaurants to browse and taste, it's no wonder this marketplace is buzzing every day of the year.  The location on the waterfront also attracts tourists, for it's great location in the city.  Live music is also heard daily, and many festivals are put on throughout the year.</p>

<h6 class="h6-about">Cheers</h6>
<p class="para">The television show that made the bar famous, is still up and running. If you're a big fan of the long running sitcom, then you can't pass up a beer and the famous bar.  Sing along to the theme song, take your obligatory photos, and have a good time.  The bar is located in Beacon Hill, one of the liveliest parts of town and is worth checking out before or after your Cheers experience.</p>

<h6 class="h6-about">Cambridge</h6>
<p class="para">Sounds familiar right? Well there's two reasons why you should know where Cambridge is; the uber prestigious Harvard University and Massa-chusetts Institute of Technology (MIT) reside there.  You can take a boat trip down the river to visit both campuses to see what all the fuss is about.  Beautiful architecture, incredible history, and a good mix of restaurants and cafes make these universities worth visiting regardless if you're a student or not.</p>

<h5 class="h5-about pdng-tp30" id="freeActivities">Free activities</h5>
<p class="para">Boston is here to spoil you rotten with free activities.  The best time to visit to take advantage of these freebies is definitely in the summer.  Free concerts, admissions into parks, museums, and wine tastings are just the beginning.</p>

<h6 class="h6-about">Hatch Shell</h6>
<p class="para">For 10 weeks over the summer, Boston's best museums, parks, zoo, arts & culture centers open their doors for free.  Check out the Highland Street website for a full list of events you can see for free.</p>

<h6 class="h6-about">Free Fun Fridays</h6>
<p class="para">Be aware of your surroundings at all times.  Keep a close watch on your wallet or purse, phone, and any other important items you will be caring around throughout the day.  Pit picketers know who's being careful and who's not.  Being mindful of your personal items will reduce the risk of being targeted for theft.  Knowing where you're at also makes you look more comfortable.  Looking lost or worried may result in your focus being taken elsewhere and off your belongings.  Make sure you take a minute to get your bearings and continue on.</p>

<h6 class="h6-about">Brewery tour</h6>
<p class="para">Sam Adams is famous worldwide, but in Boston, it's tradition.  But your'e in luck. The brewery offers free brewery tours daily, so you can catch a glimpse of how they make their tasty beers and why every Bostonian prides themselves on being a fan.  Tours are free of charge, but they do ask you donate a few dollars for charity.</p>

<h5 class="h5-about pdng-tp30" id="localFavorites">Local's favorites</h5>
<p class="para">There are just some places in Boston that locals find themselves visiting, recommending, and loving.  Being a true Bostonian means you have a few tricks up your sleeve; you know where a great hole-in-the-wall restaurant is, or you can recommend a place to get your hair done for a great price.  Regardless the area of expertise, locals can help you see parts of the city you may ignore on your own.</p>

<h6 class="h6-about">Boston Ballet Company</h6>
<p class="para">Bostonians love to go to the theatre for any type of show.  But the Boston Ballet is a whole masterpiece on its own.  One of the most acclaimed dance academies in the world, the Boston Ballet sells out each season far in advance.  If you're in town and want to catch a show, make sure you book. You won't want to miss one of the best ballet companies in the world.</p>

<h6 class="h6-about">Boston Garden</h6>
<p class="para">One of the most popular destinations in the city is the Boston Garden. This multi-use venue is home to the professional basketball team, the Boston Celtics and the Boston Bruins, the city's professional hockey team. When sporting events are not on the schedule, the arena is used for blockbuster performances from the world's biggest music stars.</p>

<h5 class="h5-about pdng-tp30" id="safety">Being Safe in Boston</h5>
<p class="para">Boston is one of most populated cities in the country.  There are over three million people living and working, not to mention the millions of tourists that come to visit each year.  So it's easy to think you can get caught up in the mix of trouble when you have no idea where you're going, what part of town you're in, and don't know a single soul.  The good news is that Chicago is very manageable and surprisingly quite safe.</p>

<h6 class="h6-about">Plan Ahead </h6>
<p class="para">Planning ahead will not only save you time but it will make you feel more comfortable with your trip.  Plan your accommodation, transportation to/from the airport, and hail a cab if you're not sure of taking public trans-portation.  Figure out in advance where you want to go that day, and plan accordingly. With no missteps, pre-planning helps tame your fears of getting into trouble or feeling lost.</p>

<h6 class="h6-about">Know Your Surroundings</h6>
<p class="para">Be aware of your surroundings at all times.  Keep a close watch on your wallet or purse, phone, and any other important items you will be caring around throughout the day.  Pit picketers know who's being careful and who's not.  Being mindful of your personal items will reduce the risk of being targeted for theft.  Knowing where you're at also makes you look more comfortable.  Looking lost or worried may result in your focus being taken elsewhere and off your belongings.  Make sure you take a minute to get your bearings and continue on.</p>

<h6 class="h6-about">Don't go out alone at night</h6>
<p class="para">This should be a no brainer.  Do not walk down alleys in the dark all by your lonesome.  You are just begging to be pestered with.  Instead, take a cab or share a ride with a friend.  If you're traveling alone, be cautious about public transportation and riding the subway alone.  Stand next to others, make yourself a part of the crowd, not a lone ranger.  If you do find yourself alone, walk confidently in the right direction without hesitation.  This implies you know where you're going and do not want to be bothered.</p>

</div>
</div>