<div class="container" >
<div class="about-des">
<h3>Chicago City Guide</h3>
<h6 class="ab-pp"><a href="" ng-click="scrollTo('transportation')">Transportation</a> | <a href="" ng-click="scrollTo('airport')">Airport</a> | <a href="" ng-click="scrollTo('neighborhoods')">Neighborhoods</a> | <a href="" ng-click="scrollTo('dining')">Dining</a> | <a href="" ng-click="scrollTo('accomodation')">Accommodations</a> | <a href="" ng-click="scrollTo('attractions')">Attractions</a> | <a href="" ng-click="scrollTo('freeActivities')">Free Activities</a> | <a href="" ng-click="scrollTo('localFavorites')">Must See</a> | <a href="" ng-click="scrollTo('sports')">Sports</a> | <a href="" ng-click="scrollTo('safety')">Safety</a></h6>
<h5>Intro</h5>
<p>Chicago may be known as the "Windy City" but it's far from just a place named for its weather patterns.  Chicago is full of fascinating architecture, food, culture, and people.  It's visited by millions every year, and for good reason.  Boasting the most sports teams than any other city, Chicago is really a true sport's fans haven.  Locals go crazy for their home teams and will find any way to talk sports.  If sports aren't your thing, don't mention it out loud! But you're in luck.  Chicago is a fascinating, cosmopolitan city that has something fun for everyone regardless your age.  The only problem is that you're going to wish you could stay longer.</p>
</div>
</div>

<div align="center">
<h2 class="h2-top">Plan a Trip to Chicago, get best deals and discounts on Hotels</h2>
</div>
