<div class="container" >
<div class="about-des">
<h3>Hawaii City Guide</h3>
<h6 class="ab-pp"><a href="" ng-click="scrollTo('transportation')">Transportation</a> | <a href="" ng-click="scrollTo('airport')">Airport</a> | <a href="" ng-click="scrollTo('history')">History</a> | <a href="" ng-click="scrollTo('dining')">Dining</a> | <a href="" ng-click="scrollTo('accomodation')">Accommodations</a> | <a href="" ng-click="scrollTo('attractions')">Attractions</a> | <a href="" ng-click="scrollTo('freeActivities')">Free activities</a> | <a href="" ng-click="scrollTo('localFavorites')">Must See</a> | <a href="" ng-click="scrollTo('safety')">Safety</a></h6>
<h5>Intro</h5>
<p>Hawaii is known for it's perfect white sand beaches, fruity drinks and world-class surfing. It's also known as the premiere destination to get a little rest and relaxation. Whether it's for a romantic getaway, a fun-filled family holiday, or Spring Break, Hawaii continues to knock the socks off of each person who visits. Hawaii is a popular holiday destination for many domestic and international tourists, with millions visiting year round vacationing on any one of Hawaii's seven islands. With endless sunshine and activities, Hawaii has and always will be a favorite vacation spot for families and travelers alike. With epic weather, unforgettable sunsets and some of the best hospitality in the world, there's a reason why it's so popular world-wide.</p>
</div>
</div>
<div align="center">
<h2 class="h2-top">Book a best Hotel now in Hawaii Island</h2>
</div>
