<div class="container" >
<div class="about-des">
<h3>Las Vegas City Guide</h3>
<h6 class="ab-pp"><a href="" ng-click="scrollTo('transportation')">Transportation</a> | <a href="" ng-click="scrollTo('neighbourhoods')">Neighbourhoods</a> | <a href="" ng-click="scrollTo('accomodations')">Accommodations</a> | <a href="" ng-click="scrollTo('mustSee')">Must See</a> | <a href="" ng-click="scrollTo('dining')">Dining</a> | <a href="" ng-click="scrollTo('history')">History</a> | <a href="" ng-click="scrollTo('casinos')">Casinos</a> | <a href="" ng-click="scrollTo('shows')">Shows</a> | <a href="" ng-click="scrollTo('weekendSpends')">Weekend Spends</a> | <a href="" ng-click="scrollTo('beyondLasvegas')">Beyond Las Vegas</a></h6>
<h5>Intro</h5>
<p>Ah, the wonderland that is Las Vegas! Sin City, the place to get married, the gambling mecca, the fountains from Ocean's Eleven, the craziness of The Hangover... Las Vegas is one of those cities that features on everybody's list of places to visit once in a lifetime. And for good reason! This is a city of many characters, bright and bold, and a place with a little bit of something for everyone.</p>
</div>

<h5 class="h5-about pdng-tp30">When should you go to Las Vegas?</h5>
<p class="para">Las Vegas is a hub of unending activity all year round. In fact, rather than having a high and a low season, you could think of Las Vegas as having a high and a slightly-less-high season! Since the city is located in the middle of the Mojave desert, the summer months are stifling and the winters slightly chilly, so peak visiting periods are from September to November and March to May.<br><br>Las Vegas is also somewhat quieter during the week and when there aren't any large conventions taking place, and that is also when you are more likely to have a wider choice of available accommodation. This is simply because Las Vegas is a very popular destination for weekend getaways, especially when there's a long weekend.</p>

</div>
<div align="center">
<h2 class="h2-top">Book a Best Hotel in Las Vegas</h2>
</div>



