<div class="container" >
<div class="about-des">
<h3>Miami City Guide</h3>
<h6 class="ab-pp"><a href="" ng-click="scrollTo('transportation')">Transportation</a> | <a href="" ng-click="scrollTo('airport')">Airport</a> | <a href="" ng-click="scrollTo('history')">History</a> | <a href="" ng-click="scrollTo('neighborhoods')">Neighborhoods</a> | <a href="" ng-click="scrollTo('dining')">Dining</a> | <a href="" ng-click="scrollTo('accomodation')">Accommodations</a> | <a href="" ng-click="scrollTo('attractions')">Attractions</a> | <a href="" ng-click="scrollTo('freeActivities')">Free activities</a> | <a href="" ng-click="scrollTo('localFavorites')">Must See</a> | <a href="" ng-click="scrollTo('safety')">Safety</a></h6>
<h5>Intro</h5>
<p>Miami is a traveler's dream destination. Situated on the Atlantic Ocean, this colorful and cultural city is buzzing with activity any day of the week.  With magical beaches, incredible nightlife, and international influences, Miami is a popular holiday destination for many domestic and international tourists.  With millions visiting year round, the city has to constantly reinvent itself with fun and fresh events, attractions and restaurants.  But don't worry, Miami is the place to enjoy the sun and sand during the day, and dance the night away at one of the many nightclubs. Whether you're visiting for business or leisure, this city will charm any visitor.</p>

</div>
<div align="center">
<h2 class="h2-top">Book Miami best hotels near Miami Beach</h2>
</div>
