<div class="wrapp">
<div class="full-details">
<br />
<h5 class="h5-about pdng-tp30" id="transportation">Transportation</h5>
<p class="para">With some of the best and biggest transportation in the United States, getting around Miami is a lot easier than you think. If you're planning on using public transportation for the majority of your trip, check out the Easy Card. It's an all-in-one card for public transport and saves your money at the same time. You can buy the card and add money to it online or purchase one at a variety of transportation stops.</p>

<h6 class="h6-about">Taxi</h6>
<p class="para">
Taxis are everywhere in Miami.  If you have a group, they are more cost effective and quicker than other transportation options. If getting a taxi is not your thing, Miami has you covered with other various transportation choices.</p>

<h6 class="h6-about">Bus</h6>
<p class="para">The bus system in Miami is massive. There is a bus going somewhere at every second of the day.  With thousands of routes, taking the bus around Miami and the surrounding areas is manageable and affordable.  Daily passes are available, making it easy to hop-on and hop-off different buses, rail, and subways around the city.  To plan your trips or for more general information on bus transportation, the city's transportation website is going to be your best friend.</p>

<h6 class="h6-about">Uber</h6>
<p class="para">Uber has become a highly sought out transport solution in many major cities including Miami.  If you have a smartphone and want a reliable and safe ride somewhere, Uber may be the option for you.  There are even smartphone codes you can use to get your first ride for free.</p>

<h5 class="h5-about pdng-tp30" id="airport">Getting to/from Airport</h5>

<h6 class="h6-about">Miami International Airport (MIA)</h6>
<p class="para">Roughly 12 miles from Miami Beach, this airport is fully connected with a variety of transportation options for you. Visit the airport's website for times and fares.  Taxis will cost around $13-55 to get to the city and surrounding areas, so if you are traveling with a group, this may be a great option.  If not, check out the website for cheaper options like shuttles and bus times.</p>

<h5 class="h5-about pdng-tp30" id="history">Miami's History</h5>
<p class="para">Miami was founded as a city in 1896 and since then has become on of the most influential cities in the country. The city became a mecca of culture, art and architecture.  Now decades later, the city is known for its white sand beaches, Cuban and Puerto Rican influence, and art-deco buildings. The city has become an epicenter of fun, sun, dancing, and relaxation, and for good reason.  Miami is a city that everyone feels welcome and can let loose.</p>

<h5 class="h5-about pdng-tp30" id="neighborhoods">Neighborhoods</h5>
<p class="para">Miami is divided into 20 + neighborhoods full of fun, food, and people from all over the world.  Each area has its own unique feel and purpose, making Miami feel like multiple cities all rolled into one.</p>

<h6 class="h6-about">Downtown</h6>
<p class="para">Downtown Miami is a mixed bag of business, arts, and tourist attractions. It's a great area to see a sporting event, check out a few museums and shop at the big department stores.</p>

<h6 class="h6-about">South Beach</h6>
<p class="para">By far the most popular area of the city, South is the ultimate neighborhood. With beaches, art-deco buildings, a variety of beachside dining options, and world famous nightlife, it's a fun place to play tourist during the day or night.</p>


<h6 class="h6-about">Coconut Grove</h6>
<p class="para">Coconut Grove is a fantastic spot to enjoy a laid-back vibe.  This neighborhood is a great introduction to the Latin culture in the city and is the best stop for hip, local shops, including cafes and fashion boutiques.</p>


<h6 class="h6-about">Little Havana</h6>
<p class="para">Little Havana is a cultural hotspot in Miami. Get a taste of Cuba in this neighborhood with traditional Cuban music, food, and cigars. One of the most vibrant and exciting areas of the city, Little Havana is a huge hit with the locals and tourists.</p>

<h5 class="h5-about pdng-tp30" id="dining">Dining</h5>
<p class="para">Miami is a great mix of cuisines, with big influences from Cuba. With being one of the country's up-and-coming dining destinations, it has developed an exciting restaurant scene.  And a scene it is.  With world-class chefs, over-the-top menus, and international dining experiences, Miami is well worth eating your way through.  The city boasts an incredible amount of restaurants, and one of the best places to grab a Cuban sandwich in the world.</p>

<h6 class="h6-about">Breakfast</h6>

<h6 class="h6-about">K.C. Cafe</h6>
<p class="para">This cafe is centrally located downtown and is a popular hotspot for breakfast. If you're in the mood for great diner-style food for a great price, K. C. Cafe is your spot. Popular items include freshly squeezed OJ and Huevos Rancheros.</p>

<h6 class="h6-about">Atelier Monnier</h6>
<p class="para">Another local favorite, Atelier Monnier is always busy. The cafe has one of the most impressive breakfast and pastry menus of any restaurant in the city.  Highly rated, locally loved, and worshipped by tourists, this egg and French pastries joint isn't going anywhere anytime soon.  Just make sure you get there early, as the line gets long really quick. Snag a table on the back patio for a great atmosphere.</p>

<h6 class="h6-about">Plate</h6>
<p class="para">This minimal menu consists of bagel breakfast sandwiches, oatmeal and omelettes. They have specials daily, including a guava and cheese bread pudding that locals go crazy over. Plate is a great breakfast spot if you're looking for something quick and easy that doesn't brake the bank.</p>

<h6 class="h6-about">Organic Bites</h6>
<p class="para">The name says it all. A popular spot in the Haiti District of Miami, Organic Bites serves breakfast daily but for a limited time with a limited menu. Their big hit is the Acai bowl with strawberries. And you guessed it, everything on the menu is sourced from local, organic vendors.</p>

<h6 class="h6-about">Lunch</h6>
<h6 class="h6-about">Sweet Dogs</h6>
<p class="para">The menu at Sweet Dogs is minimal but packs huge flavor into the menu items.  Located downtown in a strip mall, Sweet Dogs is a local institution. With perfect scores from nearly every visitor, this hot dog joint pumps out hundreds of hot dogs per day. Try their original ‘Sweet Dog' which consists of Smoked Bacon, Sweet Peppers, Chopped Onions, Home Sauce, and La Choy Noodles.</p>

<h6 class="h6-about">Diced</h6>
<p class="para">Diced is a fantastic spot for those who are wanting a fast lunch.  These hand-crafted rice and quinoa bowls and wraps are filled with delicious local ingredients and are hugely popular with the local business crowd downtown. Simply put; these dishes are delicious.</p>

<h6 class="h6-about">Tinta Y Cafe</h6>
<p class="para">Part coffeehouse Tinta Y Cafe is always buzzing with activity and people trying to grab a seat for lunch.  Their sandwich menu is extensive, but their cult following comes for the traditional Cuban sandwich of ham, pickles, pork, swiss cheese and mustard.  A must when you're in Miami.</p>

<h6 class="h6-about">Organic Bites</h6>
<p class="para">As mentioned as a breakfast spot, Organic Bites is great for lunch too. With a menu comprising of organic soups, salads, appetizers, and hot grill items, and more. Great ambiance and outdoor patio makes this a popular restaurant for everyone</p>

<h6 class="h6-about">La Camaronera Seafood Joint & Fish Market</h6>
<p class="para">If you're in the mood for fresh seafood, La Camaronera Seafood Joint & Fish Market is a fantastic spot. With favorites like fish tacos, Mahi Mahi fish sandwiches, and a fresh market to purchase locally-caught seafood to boot. Voted best shrimp in the city, this is not a place to miss.</p>

<h6 class="h6-about">Dinner</h6>
<h6 class="h6-about">Bunbury</h6>
<p class="para">The ambiance is half the fun at Bunbury. With live music on designated nights, an open floor plan and an Argentinian-inspired menu, Bunbury aims to please. Locals love the wine list and outdoor seating area to listen to the music. Popular dishes include duck confit, fried brie, and goat cheese empanadas.</p>

<h6 class="h6-about">Chayito's Fritanga</h6>
<p class="para">Going along with the Latin American influence in Miami, Chayito's Fritanga specializes in Nicaraguan cuisine.  Located in downtown, this little joint is always busy. The most popular dish by far is their Carne Asada, which is made fresh daily.</p>

<h6 class="h6-about">Versailles</h6>
<p class="para">If you are going out on the town and want the ultimate Cuban dining experience, head to Versailles. Their extensive menu is comprised of traditional Cuban dishes from seafood to pork to salads. Both a local and tourist favorite, Versailles is worth every dollar.</p>

<h6 class="h6-about">Ristorante Fratelli Milano</h6>
<p class="para">If you're in the mood for Italian, Ristorante Fratelli Milano should be on your list. With a great outdoor patio for people watching while enjoying a glass of Italian wine and a bowl of pasta. Popular dishes include fried calamari, wood-fired pizza and homemade pastas.</p>

<h6 class="h6-about"> Lulu in the Grove</h6>
<p class="para">Located in Coconut Grove, Lulu in the Grove is a laid-back dinner spot. Specializing in small plates, this popular restaurant is beautiful inside and out. With a sprawling outdoor patio and a colorful décor all around, this dinner destination is well worth it.</p>

<h5 class="h5-about pdng-tp30" id="accomodation">Where to stay</h5>
<p class="para">Miami is set up to give any visitor with any budget a great place to stay.  From the five-star classics to three-star hotels for the budget-minded traveler, the city takes care of its visitors.  Depending on the area you decide to stay, prices and availability range drastically.  You can expect to pay the most around touristy spots like Miami Beach and South Beach. </p>

<h6 class="h6-about">Luxury</h6>
<h6 class="h6-about">Four Seasons Hotel Miami</h6>
<p class="para">The Four Seasons Hotel Miami is pure elegance. Located right downtown and towering 70 floors high, this hotel takes service to the next level.  This five-star luxury accommodation makes every guests feel at home. From the incredible outdoor pool and bar, to breakfast in bed, to a long list of amenities, this luxurious European-styled hotel is the best of the best.</p>

<h6 class="h6-about">Viceroy Hotel</h6>
<p class="para">This hotel is first-class all the way. Located in the most inclusive region of the city, The Viceroy Hotel takes sophisticated inspiration and mixes it with east coast luxury.  For spa and foodie lovers, this hotel is for you. The spa offers in-room services as well as it's own spa.  The most impressive feature of the hotel is the 300-foot outdoor pool, giving you views of the ocean and beach for miles. With elegance and top-notch amenities at your fingertips, you'll never leave the hotel.</p>

<h6 class="h6-about">InterContinental Miami</h6>
<p class="para">The InterContinental Miami is a name that exudes supreme elegance. And that is exactly the case for this hotel in Miami. Located in between the financial and shopping districts, this hotel is perfect for those who are wanting to spend their time indulging in the city's culture and retail scene. The hotel is merely steps away from the downtown neighborhood. The long list of amenities available include free Wi-Fi for hotel members, in-room services, and exquisite dining options. If that's not enough, there's 34 stories to view Biscayne Bay below.</p>


<h6 class="h6-about">Mid-range</h6>

<h6 class="h6-about">Pelican Hotel</h6>
<p class="para">Themed rooms and suites make the Pelican Hotel stand out from the rest of the mid-range hotels in Miami.  Pelican Hotel is a great spot to rest your head in the heart of South Beach, steps away from the hustle and bustle of the beach and nightlife. With free Wi-Fi, incredible food and a 24-hr front desk, this hotel is one of the best options for the price.</p>

<h6 class="h6-about">Shore Club </h6>
<p class="para">
The name says it all. Located on the famous South Beach, Shore Club is an art-deco boutique hotel that aims to please. With dining options indoors and out, a pool for the rich and famous with poolside service, you may never actually make it out of the hotel. The Shore Club brings service and class to South Beach without the high price tag.</p>

<h6 class="h6-about">Avalon Hotel</h6>
<p class="para">The most iconic and photographed hotel in the city, the Avalon Hotel pairs history art and culture to give each guest a memorable stay.  Built in 1941 the hotel offers free breakfast and Wi-Fi and is located right across the beach. The famous yellow convertible parked outside is part of the charm of this art-deco boutique hotel.</p>

<h6 class="h6-about">Budget-Friendly</h6>

<h6 class="h6-about">Albion Hotel</h6>
<p class="para">The most centrally located budget-friendly hotel, Albion Hotel offers great amenities and one killer spot.  The hotel offers free Wi-Fi, free breakfast, coffee, and a bar that specializes in hand-crafted cocktails. Outside of the hotel is the famous South Beach, offering up the best shopping, dining, and entertainment the city has to offer.</p>

<h6 class="h6-about">The Clay Hotel</h6>
<p class="para">A stunning hotel in Miami Beach, The Clay Hotel looks picture-perfect, located on the pedestrian-only Espanola Way. This exceptional hotel is decorated with a Mediterranean Spanish flair, creating a comfortable and relaxing atmosphere. Guests of the hotel can enjoy special discounts to nearby restaurants. The 135 rooms include free Wi-Fi, microwave, comfortable beds, continental breakfast and much more. The Clay Hotel is the ultimate bargain.</p>

<h6 class="h6-about">Hotel Impala</h6>
<p class="para">If location is your main component when looking for a cheaper hotel, then look no further.  Hotel Impala has one of the best locations in the Miami right in the heart of South Beach. The brightly colored Mediterranean themed hotel is beautiful, making your stay relaxing on the eye and the mind. Outdoor patios are filled with beautifully landscaped gardens, creating a peaceful and intimate setting for your stay. Book fast as this boutique hotel only has 17 rooms available.</p>

<h6 class="h6-about">Hotel Dorchester</h6>
<p class="para">Located in South Beach, Hotel Dorchester offers a great hotel for a great price right next to the action. Amenities include free happy hour, free coffee/tea, and flat-screen TVs.  This hotel is perfect for those wanting to stay in the middle of the touristy environment. The intimate courtyard welcomes you to this boutique hotel, immediately making you feel at home. If that's not enough, each room includes two beach chairs and an umbrella to help you relax.</p>

<h6 class="h6-about">Best Western Plus Airport Inn & Suites</h6>
<p class="para">Located a little outside of the city center, the Best Western Plus is a budget-friendly hotel that is ranked one of the top hotels for the price. The list of amenities is impressive, from free internet to pet-friendly rooms to a to free airport shuttles.  All rooms are stylishly furnished with comfortable beds and offer free Wi-Fi. If you're looking for the best bang for your buck, this Best Western is your best bet.</p>

<h5 class="h5-about pdng-tp30" id="attractions">Miami's best attractions</h5>
<p class="para">Miami is jam packed with fun places to visit, beaches to explore, games to watch, and people to see.  But there are some places in the city that you shouldn't leave without seeing.  These are what make Miami an iconic city, and keep tourists coming back for more year after year.</p>

<h6 class="h6-about">South Beach</h6>
<p class="para">People watching, sun-tanning and water sports are all the rage at this busy Miami location. If you've ever received a postcard from Miami, you can almost guarantee it's a picture of South Beach. With miles of white sand and tourists as far as they eye can see, South Beach continues to bring the crowds. Grabbing a refreshing drink on a nearby patio while watching the waves crash to shore isn't a bad idea either.</p>

<h6 class="h6-about">Nightlife</h6>
<p class="para">Miami is known world-wide for its variety of nightclubs, dancing and outrageous rooftop parties that only stop when the sun comes up.  Salsa, Meringue, hip-hop, Afro-beat, and many other types of dances and music are pumped out of loud speakers anywhere you go in the city on any designated night. You just need to bring your party pants and dancing shoes.</p>


<h6 class="h6-about">The Everglades</h6>
<p class="para">Although the Everglades aren't in the city center, they are a crucial element to any Florida vacation. Located only one hour outside of Miami, the Everglades provide a unique and memorable experience. Take an airboat through the water in search for the local resident crocodiles and birds while you gaze in awe at the surrounding national park.</p>

<h5 class="h5-about pdng-tp30" id="freeActivities">Free activities</h5>
<p class="para">
Miami is here to spoil you rotten with free activities.  The best time to visit to take advantage of these freebies is definitely in the summer.  Free concerts, admissions into parks, museums, and dancing are just the beginning.</p>

<h6 class="h6-about">Hit the beach</h6>
<p class="para">Possibly the best thing about the city are the beaches.  Relax in the sun and sand as Miami provides miles of beach available to lounge around. Besides getting a tan, beaches like South Beach are prime spots for people watching.</p>

<h6 class="h6-about">Free Museum Days</h6>
<p class="para">Several museums provide free days for the public on certain days of the month. The Museum of Contemporary Art also offers up free live music every month, usually in the form of a jazz band. The Miami Art Museum is free every second Saturday of every month, allowing both locals and tourists to see historic artworks without paying a dime.</p>

<h6 class="h6-about">Free Yoga</h6>
<p class="para">Free yoga is available in certain areas of the city and is a favorite form of exercise for locals, especially those who like to wear next-to-nothing at the beach. The best part about free yoga is that majority of the classes available around the city are in the water!</p>

<h5 class="h5-about pdng-tp30" id="localFavorites">Local's favorites</h5>
<p class="para">There are just some places in Miami that locals find themselves visiting, recommending, and loving.  Being a true local means you have a few tricks up your sleeve; you know where a great hole-in-the-wall restaurant is, or you can recommend a place to get your hair done for a great price.  Regardless the area of expertise, locals can help you see parts of the city you may ignore on your own.</p>

<h6 class="h6-about">American Airlines Arena</h6>
<p class="para">Miami locals love to go out for any type of show.  And the American Airlines Arena can cater to any crowd.  One of the most acclaimed venues in the city, the multi-level spot showcases musicians, comedians, and is home to the famous Miami Heat basketball team. If you're in town and want to catch a show, make sure you book. You won't want to miss one of the best venues in the city.</p>

<h6 class="h6-about">Venetian Pool</h6>
<p class="para">Created to replicate the Venetian fresh water pools, this pool is the largest in the states and many don't know about it!  Oh, and its 820,000 gallons are filled and drained daily. Filled with picture-perfect waterfalls, caves and grottos, the Venetian Pool is fun to take a dip with the whole family.</p>

<h5 class="h5-about pdng-tp30" id="safety">Being Safe in Miami</h5>
<p class="para">Miami is one of most populated cities in the country.  There are over three million people living and working, not to mention the millions of tourists that come to visit each year.  So it's easy to think you can get caught up in the mix of trouble when you have no idea where you're going, what part of town you're in, and don't know a single soul.  The good news is that Chicago is very manageable and surprisingly quite safe.</p>

<h6 class="h6-about">Plan Ahead </h6>
<p class="para">Planning ahead will not only save you time but it will make you feel more comfortable with your trip.  Plan your accommodation, transportation to/from the airport, and hail a cab if you're not sure of taking public transportation.  Figure out in advance where you want to go that day, and plan accordingly. With no missteps, pre-planning helps tame your fears of getting into trouble or feeling lost.</p>

<h6 class="h6-about">Know Your Surroundings</h6>
<p class="para">Be aware of your surroundings at all times.  Keep a close watch on your wallet or purse, phone, and any other important items you will be caring around throughout the day.  Pit picketers know who's being careful and who's not.  Being mindful of your personal items will reduce the risk of being targeted for theft.  Knowing where you're at also makes you look more comfortable.  Looking lost or worried may result in your focus being taken elsewhere and off your belongings.  Make sure you take a minute to get your bearings and continue on. </p>


<h6 class="h6-about">Don't go out alone at night</h6>
<p class="para">This should be a no brainer.  Do not walk down alleys in the dark all by your lonesome.  You are just begging to be pestered with.  Instead, take a cab or share a ride with a friend.  If you're traveling alone, be cautious about public transportation and riding the subway alone.  Stand next to others, make yourself a part of the crowd, not a lone ranger.  If you do find yourself alone, walk confidently in the right direction without hesitation.  This implies you know where you're going and do not want to be bothered. </p>

</div>
</div>