<div class="container" >
<div class="about-des">
<h3>Orlando City Guide</h3>
<h6 class="ab-pp"><a href="" ng-click="scrollTo('transportation')">Transportation</a> | <a href="" ng-click="scrollTo('airport')">Airport</a> | <a href="" ng-click="scrollTo('history')">History</a> | <a href="" ng-click="scrollTo('neighborhoods')">Neighborhoods</a> | <a href="" ng-click="scrollTo('dining')">Dining</a> | <a href="" ng-click="scrollTo('accomodation')">Accommodations</a> | <a href="" ng-click="scrollTo('attractions')">Attractions</a> | <a href="" ng-click="scrollTo('freeActivities')">Free activities</a> | <a href="" ng-click="scrollTo('localFavorites')">Must See</a> | <a href="" ng-click="scrollTo('safety')">Safety</a></h6>
<h5>Intro</h5>
<p>Orlando is known for one major attraction than anything else; it's the home to Disney World, a child's dream destination. Equally impressive and up there on the popular list is Harry Potter World at Universal Studios. Although these two destinations are the bread and butter for Orlando, this colorful and cultural city is buzzing with activity any day of the week. Orlando is a popular holiday destination for many domestic and international tourists, with millions visiting year round. With endless sunshine and activities, Orlando has and always will be a favorite vacation spot for families and travelers alike.</p>
</div>
</div>
<div align="center">
<h2 class="h2-top">Book a best hotel to stay in Orlando</h2>
</div>
