<!--<h2 class="h2-top">Book a Best Hotel in {{cityName}}</h2>-->
<div class="col-md-9 col-xs-12" class="search_results">
	 <div class="listing tr-Listing" ng-if="searchProgress">
            <div class="tr-Listing__progress">
                <div class="circles-loader">
                    Loading…
                </div>
            </div>
        </div>
	 <div class="listing trip-reviewer * ng-scope" ng-show="hotel.visible" ng-hide="!hotel.price"
             ng-repeat="hotel in hotelList | limitTo: 10">

            <figure class="pull-left">
                <a href="javascript:void(0);" ng-click="showPhotos(hotel.photos)">
                    <img src="{{hotel.photos[0].path}}"class="hotel_pic" alt="{{hotel.name}}" title="{{hotel.name}}">
			
                </a>
            </figure>

            <script type="text/ng-template" id="myPopoverTemplate.html">
                <ul>
                    <li ng-repeat="(key, review) in hotel.readReviews" ng-if="review.rating">
                        <div class="col-xs-6 pull-left noPadding">{{capitalize(key === 'bdc' ? 'Booking.com' : key)}}</div>
                        <div class="col-xs-4 pull-right">{{review.rating}}</div>
                    </li>
                </ul>
            </script>
            <div class="listing-contents">

                <h5>
                    <a href="{{hotel.detailURL}}"
                       target="_blank" class="hotel_detail_view" ng-click="trackGA('hotel',hotel.name)">{{hotel.name}}</a></h5>
                        <div class="pull-left col-xs-12 location pad-top-10">{{hotel.displayAddress}}
                    </div>

                <div class="static-ratings col-xs-9">
                <div class="row">
                    <div class="pull-left pad-top-10">
                        <span class="block">Star Rating</span>
                        <span class="static-rating rating-{{hotel.starRating * 10}}">{{hotel.starRating}} stars</span>
                    </div>
                    <div class="pull-left pad-top-10 pad-left-15"
                         popover-placement="bottom" uib-popover-template="'myPopoverTemplate.html'"
                         popover-trigger="mouseenter">

                        <span class="block">TripReviewer Rating</span>
                        <span class="static-tr-rating rating-{{hotel.averageRating}}">{{hotel.averageRating}} stars</span>
                    </div>

                    <div class="pull-left col-xs-12 location pad-top-10"><span>{{hotel.distance | number:2}} miles from city center</span>
                        <div class="location-icon1 cboxElement" id="hotel{{$index + 1}}" ng-mouseover="highlightMarker($index + 1,'mouseover')" ng-mouseout="highlightMarker($index + 1,'mouseout')">{{$index + 1}}</div>
                    </div>

                    <div ng-if="hotel.foursquare" class="foursquare_data pull-left text-muted">
                        <img class="foursquare_icon" src="images/foursquare.png" alt="four square">
                        <span class="pad-left-5 totalVisitors">Total visitors <span>{{hotel.foursquare.totalVisitors}}</span>,</span>
                        <span class="pad-left-5 totalVisits">Total visits <span>{{hotel.foursquare.totalVisits}}</span></span>
                    </div>
                    <div ng-if="!hotel.foursquare" style="height:40px !important" class="foursquare_data pull-left text-muted" >
                    	&nbsp;
                    </div>
                    </div>
                </div>

                <div class="pull-right col-xs-3">
                    <div class="rate_block">
                        <span>Rates from</span>

                        <h3 ng-if="hotel.price">${{hotel.price}}</h3>

                        <h3 ng-if="!hotel.price" class="tr-Listing__rateNotAvailable">Not Available</h3>
                    </div>
                </div>

                <div class="col-xs-12 btn_cont popupHeader tr-reviewTab">
                <div class="row">
                    <div class="pull-left">
                        <a rel="read_review" class="btn-hide-cls tab-btn pull-left"
                           ng-class="hotel.popUpList.readReviews ? 'tab-btn-active' : ''"
                           ng-click="togglePopup(hotel,'readReviews')">Read Reviews
                        </a>
                        <a rel="write_review" class="btn-hide-cls tab-btn  pull-left"
                           ng-class="hotel.popUpList.writeReviews ? 'tab-btn-active' : ''"
                           ng-click="togglePopup(hotel, 'writeReviews')">Write Reviews
                        </a>
                        <a rel="nearby" class="btn-hide-cls tab-btn  pull-left"
                           ng-class="hotel.popUpList.restaurants ? 'tab-btn-active' : ''"
                           ng-click="togglePopup(hotel, 'restaurants')">Near by Restaurants
                        </a>
                        <a rel="check_rates" class="btn-hide-cls btn-hide-cls2 btn action pull-right"
                           ng-class="hotel.popUpList.rates ? 'btn-active' : ''"
                           ng-click="togglePopup(hotel, 'rates')">CHECK RATES
                        </a>
                    </div>
                    </div>
                </div>

            </div>

            <div class="review_pop" ng-class="hotel.popupVisible ? 'active' : 'hidden'">
                <div id="nearby" class="pop_panel nearby_rest" ng-show="hotel.popUpList.restaurants">
                    <a href="javascript:void(0)" class="close_btn">
                        <img src="/images/close_btn.png" width="24" height="24" ng-click="closePopup(hotel)"></a>
                    <hgroup>
                        <h2>Near by Restaurants</h2>
                    </hgroup>

                    <div class="listing tr-Listing tr--nearByRestaurantsProgress" ng-if="nearByRestaurantsProgress">
                        <div class="tr-Listing__progress">
                            <div class="circles-loader">
                                Loading…
                            </div>
                        </div>
                    </div>

                    <ul class="restuarants_preview tr--nearByRestaurants">
                        <li ng-repeat="restaurant in hotel.nearByRestaurants">
                            <div class="col-xs-12 margintopbot-0 paddingleftright-0">
                                <div class="col-xs-4 imgcont">
                                    <img src="{{restaurant.image}}"
                                         class="img-responsive" alt="" title="">
                                </div>
                                <div class="col-xs-8">
                                    <p class="hotel-heading"><a
                                            href="{{restaurant.detailUrl}}"
                                            target="_blank" class="hotel_detail_view">{{restaurant.name}}</a></p>

                                    <p>{{restaurant.cuisineType}}</p>
                                </div>
                            </div>
                        </li>
                    </ul>

                </div>

                <div id="write_review" class="pop_panel" ng-show="hotel.popUpList.writeReviews">
                    <a href="javascript:void(0)" class="close_btn"><img src="/images/close_btn.png" width="24"
                                                                        height="24" ng-click="closePopup(hotel)"></a>
                    <hgroup>
                        <h2>Write Reviews</h2>
                    </hgroup>

                    <ul class="write_reviews">
                        <li ng-if="reviewData.reviewWriteURL"
                            ng-repeat="(reviewType, reviewData) in hotel.writeReviews">
                            <a href="{{reviewData.reviewWriteURL}}" target="_blank" ng-click="trackGA('Write Reviews', reviewType)">
                                <img src="{{reviewData.icon}}">
                            </a>
                        </li>
                    </ul>
                </div>

                <div id="read_review" class="pop_panel" ng-show="hotel.popUpList.readReviews">
                    <a href="javascript:void(0)" class="close_btn" ng-click="closePopup(hotel)">
                        <img src="/images/close_btn.png" width="24" height="24"></a>

                    <hgroup>
                        <h2>Read Reviews</h2>
                    </hgroup>

                    <div class="col-xs-12 read-Reviews">
                        <div class="col-md-4">
                            <table class="table bold">
                                <tbody>
                                <tr class="read-reviews-provider " ng-click="showReview(hotel, reviewType)"
                                    ng-repeat="(reviewType, reviewData) in hotel.readReviews | orderObjectBy : 'rating' : false"
                                    ng-class="reviews[reviewType + '-'+ hotel.id] ? 'active-review' : ''">
                                    <td>
                                        <img ng-if="reviewType !== 'expedia' && reviewType !== 'bdc'" src="{{reviewData.icon}}">
                                        <a href="{{reviewData.providerURL}}" target="_blank">
                                            <img ng-if="reviewType === 'expedia' || reviewType === 'bdc'" src="{{reviewData.icon}}">
                                        </a>
                                    </td>
                                    <td>{{reviewData.rating}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-8">

                            <div ng-show="reviews[reviewType + '-'+ hotel.id]" class="tr-hotelReview col-xs-12"
                                 ng-repeat="(reviewType, reviewData) in hotel.readReviews">

                                <div ng-if="reviewType==='tripadvisor'">
                                    <iframe class="iframe_block" src="{{reviewData.providerURL}}">

                                    </iframe>
                                </div>
                                <div class="col-xs-12 margin-top10  margin-bottom20 "
                                     ng-repeat="review in reviewData.reviews" ng-if="reviewType !=='tripadvisor' && reviewType !=='trustyou'">
                                    <p>
                                        <span class="static-rating rating-0">{{review.rating}} stars</span>
                                        <br>{{review.reviewText}}
                                    </p>
                                </div>
																<div class="col-xs-12 margin-top10  margin-bottom20 "
																										 ng-repeat="review in reviewData.reviews" ng-if="reviewType !=='tripadvisor'  && reviewType ==='trustyou'">
																										<p>
																												<div ng-if="review.reviewType">
																												<div class="col-md-3"><h6 class="big-font">{{review.reviewType}}</h6></div></span>
																												<div class="col-md-4"><div class="progress"> <div ng-class="classNameForProgressBar(review.reviewTypeScore)" role="progressbar" aria-valuenow="{{review.reviewTypeScore}}" aria-valuemin="0" aria-valuemax="100" style="width:{{review.reviewTypeScore}}%"></div></div></div>
																												<div class="col-md-5"><p>{{review.reviewText}}</p></div>
																										</p>
																</div>
                                <div class="col-xs-12  margin-bottom20 " ng-if="reviewType !=='tripadvisor' && reviewType !=='bdc' && reviewType !=='trustyou'">
                                    <a href="{{reviewData.providerURL}}"
                                       target="_blank">Read more...</a>

                                    <div class="pull-right" ng-if="reviewType !=='expedia'">Total Reviews: {{reviewData.reviews.length}}</div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div id="check_rates" class="pop_panel" ng-show="hotel.popUpList.rates">
                    <a href="javascript:void(0)" class="close_btn" ng-click="closePopup(hotel)">
                        <img src="/images/close_btn.png" width="24" height="24"></a>
                    <!--<hgroup>
                        <h2>Check Rates</h2>
                    </hgroup>-->
                    <table class="checkrates" width="100%" border="0" cellspacing="0" cellpadding="0">
                        <!--<thead>
                        <tr>
                            <th>&nbsp;</th>
                            <th class="avg_night_rate">Avg. Nightly Rate</th>
                            <th></th>
                        </tr>
                        </thead>-->

                        <tbody>
                        <tr ng-repeat="rateData in ratesPerPage">
                            <td>
                                <a href="{{rateData.providerURL}}" target="_blank" ng-click="trackGA('Book Now', providerKey)">
                                    <img src="{{rateData.icon}}">
                                </a>
                            </td>
                            <td class="avg_night_rate col-md-7 text-left">
                                <span class="roomDescription border-lft" ng-if="rateData.roomDescription" title="{{rateData.roomDescription}}">{{rateData.roomDescription | limitTo : 50}}{{rateData.roomDescription.length > 50 ? '...' : ''}}</span>
                                <span ng-if="rateData.refund">{{rateData.refund}}</span>
                                <!--<b>${{rateData.roomPrice}}/night</b>-->
                            </td>
                            <td class="col-md-1 padding-top15"><p class="border-lft"><b>$ {{rateData.roomPrice}}</b></p></td>
                            <td class="col-md-2">
                                <a href="{{rateData.providerURL}}"
                                   target="_blank" class="greenBook hotelbookexp booknow" ng-click="trackGA('Book Now', providerKey)">Book Now
                                </a>
                            </td>
                        </tr>
                        <tr ng-hide="hotel.rates.length === ratesPerPage.length">
                            <td colspan="3" align="center" >
                                <button class="load-more-btn" href="#" ng-click="loadMore(hotel)">Load More</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>


                </div>

            </div>
        </div>
</div>

<div class="col-md-3 col-xs-12" >
<div style="width:100%;height:450px" id="plotMapDiv"></div>

</div>