<div id="main-ban" class="main-ban" ng-controller = 'HotelSearchController'>
	<ng-include src="'./modules/popular-destinations/search.html'"></ng-include>
</div>
<div ng-controller="HotelListController">
<div ng-include="city1"></div>
<div class="container" >
	<ng-include src="'./modules/popular-destinations/popular-hotel-list.html'"></ng-include>
</div>
<div ng-include="city2"></div>
</div>
