<div class="container" >
<div class="about-des">
<h3>San Francisco City Guide</h3>
<h6 class="ab-pp"><a href="" ng-click="scrollTo('transportation')">Transportation</a> | <a href="" ng-click="scrollTo('airport')">Airport</a> | <a href="" ng-click="scrollTo('history')">History</a> | <a href="" ng-click="scrollTo('neighborhoods')">Neighborhoods</a> | <a href="" ng-click="scrollTo('dining')">Dining</a> | <a href="" ng-click="scrollTo('accomodation')">Accommodations</a> | <a href="" ng-click="scrollTo('attractions')">Attractions</a> | <a href="" ng-click="scrollTo('localFavorites')">Must See</a> | <a href="" ng-click="scrollTo('safety')">Safety</a></h6>
<h5>Intro</h5>
<p>San Francisco is a traveler's dream destination.  Situated on the bay, this culinary and artistic city is buzzing with activity any day of the week.  Not to mention it is home to one of the most famous landmarks in the world; the Golden Gate Bridge.  With millions visiting year round, the city has to constantly reinvent itself with fun and fresh events, attractions and restaurants.  But don't worry, San Francisco is the foodie capital of the west coast and rumor has it that there are enough restaurants in the city to seat every single person in the Bay Area! Whether you're visiting for business or leisure, this city will charm any visitor.</p>
</div>
</div>
<div align="center">
<h2 class="h2-top">Book San Francisco top 10 hotels, get best deals & discounts</h2>
</div>
