<form class="text-cntr form-inn">
<div class="bg-bgg container">
  
<ui-select class="col-md-3 tr-citySearch" ng-model="hotelSearch.city"
                                   theme="bootstrap"
                                   ng-disabled="disabled" style = "height:44px;position:absolute; margin-top:20px;">
                            <ui-select-match placeholder="Select City..." allow-clear="false" style="height:44px;color:#FFF">
                                {{$select.selected.value}}
                            </ui-select-match>
                            <ui-select-choices group-by="groupByHotelType"
                                               repeat="hotel in hotels | propsFilter: {value: $select.search}"
                                               refresh="suggestHotels($select.search)" >
                                <div ng-bind-html="hotel.value | highlight: $select.search" ></div>
                            </ui-select-choices>
                        </ui-select>
 							<input class="wdth-ajst datepick tr-datePicker first-inn2 "
                                    type="text" id="from" name="from"
                                    ng-model="hotelSearch.in"
                                    bs-datepicker
                                    data-min-date="today"
                                    placeholder="check-in "
                                    data-date-format="yyyy-MM-dd" data-autoclose="1" 
                                    data-placement="bottom"
                                    style="margin-left:237px">
                            <input class="wdth-ajst datepick tr-datePicker first-inn2 "
                                    type="text" id="to" name="to"
                                    ng-model="hotelSearch.out"
                                    bs-datepicker
                                    data-min-date="today"
                                    placeholder="check-out"
                                    data-date-format="yyyy-MM-dd" data-autoclose="1" data-placement="bottom">
<select name="rooms" ng-model="hotelSearch.rooms" convert-to-number="" class="wdth-ajst2 btn-inn">
<option value="">Rooms</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option>
</select>

<select name="numberofadults" ng-model="hotelSearch.numberofadults" convert-to-number="" class="wdth-ajst2 btn-inn">
<option value="">Guests</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option>
</select>

<button class="bttn-line btn-inn1" ng-click="search()">FIND HOTELS</button>
</div>
</form>