<div class="container" >
<div class="about-des">
<h3>Seattle City Guide</h3>
<h6 class="ab-pp"><a href="" ng-click="scrollTo('transportation')">Transportation</a> | <a href="" ng-click="scrollTo('airport')">Airport</a> | <a href="" ng-click="scrollTo('neighborhoods')">Neighborhoods</a> | <a href="" ng-click="scrollTo('dining')">Dining</a> | <a href="" ng-click="scrollTo('accomodation')">Accommodations</a> | <a href="" ng-click="scrollTo('attractions')">Attractions</a> | <a href="" ng-click="scrollTo('sports')">Sports</a> | <a href="" ng-click="scrollTo('mustsee')">Must See</a> | <a href="" ng-click="scrollTo('localFavorites')">Local Favorites</a> | <a href="" ng-click="scrollTo('safety')">Safety</a></h6>
<h5 class="h5-about pdng-tp30">Intro</h5>
<p>Seattle: the rainy city.  The birthplace of grunge rock, Starbucks.  Home to fantastic seafood, sports, a famous needle and Microsoft.  But the city by the sound (Puget Sound to be exact) has a lot more to offer than a fine bowl of chowder and umbrellas.  The city is full of incredible coffee roasters, breweries, music, and host a variety of events that bring visitors from all corners of the earth.  So before you cast Seattle off as the rainy land of Starbucks, check out these fabulous places that will have you booking your flight in no time.</p>
<h5 class="h5-about pdng-tp30">What to do in Seattle on a rainy day</h5>
<p class="para">Yes, Seattle can be rainy, but that shouldn't stop you from seeing this city.  It's jam packed with enough indoor entertainment and shopping to fill your entire week.  Depending on your mood and interests, Seattle has your back when the rain is blowing sideways.</p>

<h6 class="h6-about">Experience Music Project (EMP)</h6>
<p class="para">Possibly the coolest music museum in the world, EMP is a party for all your senses.  Play guitar with Jimi Hendrix, sing with the best of them, and check out some of the best collections of music memorabilia in one place.  You could spend an entire day there, playing and dancing to the music.  There's even a nightclub, video arcade.</p>

<h6 class="h6-about">Hit up a brewery</h6>
<p class="para">Seattle and its surrounding areas have been satisfying beer drinkers for years now.  With Northwest hops only grown miles away, Seattle breweries produce some of the best beers in the states.  There are close to 75 breweries in and around Seattle! Try Elysian or Pyramid Brewing to get a good meal and a nice pint.</p>

<h6 class="h6-about">Take a coffee tasting tour</h6>
<p class="para">Starbucks isn't the only coffee brewing up a storm in Seattle.  Home to a variety of sensational roasters, Seattle does not skimp on coffee.  Grab a cup of joe at Caffe Vita and watch the roasters in action right in front of your face.  To get an even more interactive approach to coffee, head over to Victrola Coffee where every week they host a free class teaching customers about the different types of roasts and ways to drink your coffee.</p>

<h6 class="h6-about">Spend your $$ here</h6>
<p class="para">There's no shortage of shopping in Seattle.  Famous and very popular shopping areas like Westlake Center or Pacific Place are always buzzing with traveler and locals, seeking out the latest fashion trends at international and local brand name stores.</p>

</div>
</div>
<div align="center">
<h2 class="h2-top">Enjoy the best deals on Seattle hotel booking</h2>
</div>