.trip-reviewer {

  @import "spinner";

  .hotel_pic {
    margin-right: 0 !important;
  }

  .location-icon {
    border: none;
  }

  .search_results {
    width: 75%;
    margin: auto;
  }
  .noPadding {
    padding: 0 !important;
    margin: 0 !important;
  }

  .tr-searchHotel {
    &--main {
      line-height: 30px !important;
    }
  }
  .listing-contents {
    .location {
      padding-left: 0;
    }

    .tr-reviewTab {

      .tab-btn {
        cursor: pointer;
        background: #fff;
        border: 2px solid #666;
        border-radius: 25px;
        font-size: 12px;
        color: #666;
        float: left;
        padding: 0 28px;
        text-align: center;
        line-height: 30px;
        margin-left: 10px;
      }

      .tab-btn-active {
        cursor: pointer;
        position: relative;
        background: #2B95BC;
        color: #FFF;
        border-color: #2B95BC;
      }

      .tab-btn-active:after, .tab-btn-active:before {
        cursor: pointer;
        top: 100%;
        left: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: rgba(43, 149, 188, 0);
        border-top-color: #2B95BC;
        border-width: 10px;
        margin-left: -10px;
      }

      .action {
        cursor: pointer;
        padding: 0 28px;
        background: #52c15a;
        border: 2px solid #52c15a;
        border-radius: 25px;
        font-size: 12px;
        float: left;
        text-align: center;
        line-height: 30px;
        margin-left: 10px;
        min-width: 92px;
        color: #fff;
      }

      .btn-active {
        position: relative;
        background: #2B95BC;
        color: #FFF;
        border-color: #2B95BC;
      }

      .btn-active:after, .btn-active:before {
        top: 100%;
        left: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: rgba(43, 149, 188, 0);
        border-top-color: #2B95BC;
        border-width: 10px;
        margin-left: -10px;
      }

    }

  }
  .popHeader {
    .review-btn {
      background: #fff;
      border: 2px solid #666;
      border-radius: 25px;
      font-size: 12px;
      color: #666;
      float: left;
      padding: 0 28px;
      text-align: center;
      line-height: 30px;
      margin-left: 10px;
    }

    .btn-primary:after, .btn-primary:before {
      top: 100%;
      left: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(43, 149, 188, 0);
      border-top-color: #286090;
      border-width: 10px;
      margin-left: -10px;
    }
  }
  #header {
    //height: 123px;
    header {
      margin: 0;
      h1 {
        margin: 0;
      }
    }
  }
  .tr-Listing {
    padding: 0;
    border-radius: 0;
    min-height: 25px !important;

    &__progress {
      height: 50px;
      text-align: center;
      .circles-loader {
        text-align: center;
      }
    }

    &__header {
      height: 30px;
      text-align: center;
      .circles-loader {
        text-align: center;
      }

      border: 0;
      padding: 5px;
      min-height: 12px !important;
    }

    &__resultsLabel {
      border-right: 1px solid grey;
    }

    &__weather {
      img {
        width: 25px;
        height: 25px;
      }
    }

    &__rateNotAvailable {
      font-size: 15px;
      opacity: 0.5;
    }

    .tr-hotelSort {
      background-color: #F6F2F1;

      &__list {
        border-right: 1px solid grey;
      }

      &__searchText {
        font-size: 14px;
      }

      &__bar {
        padding: 10px;
        .sort-icon {
          font-size: 10px;
        }
        ul {
          margin-bottom: 0;
        }
      }

    }

  }

  .checkrates {
    .roomDescription {
      white-space: normal;
    }
  }
  .tr--nearByRestaurantsProgress {
    border: none;
  }

  .tr--nearByRestaurants {
    white-space: normal;
  }

  .tooltip {
    background-color: grey !important;
  }
  .tooltip.tr-reviewToolTip {
    color: black;
    background-color: grey !important;
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    width: 200px;

    .tooltip-arrow {
      display: none;
      background-color: grey !important;
    }

    .left {
      float: left;
      color: black;
      background-color: grey !important;

    }
    .right {
      float: right;
      color: black;
      background-color: grey;
    }
  }

  .tr-hotelReview {
    white-space: pre-wrap;
    margin-bottom: 25px;
    max-height: 350px;
    overflow-y: auto;
  }

  .active-review {
    position: relative;
    color: #fff;
    background: #2B95BC;
  }

  .tr-hotelSearch {
    .search-btn {
      margin-top: 22px;
    }
    .form-group {
      padding-right: 10px;
    }

    .tr-citySearch--short {

      .ui-select-toggle {
        width: 95%;
        height: 95%;
        border-radius: 5px;
        vertical-align: middle;

        .ui-select-match-text span {
          font-size: 12px;
        }

      }

      .ui-select-search {
        height: 100% !important;
        width: 95%;
      }

      .ui-select-choices {
        width: 95%;
        font-family: Lucida Grande, Lucida Sans, Arial, sans-serif;
        font-size: 1.1em;
      }

      .ui-select-match {
        outline: 0 !important;
        box-shadow: none;
        background: none;
      }

      .ui-select-choices-row a {
        color: #333;
      }

    }
  }

  .tr-citySearch {

    .ui-select-toggle {
      width: 95%;
      height: 95%;
      background: rgba(255, 255, 255, .3);
      border: 1px solid rgba(255, 255, 255, .3);
      border-radius: 5px;
      padding: 10px 9px;
      color: #fff;
      vertical-align: middle;

      .ui-select-match-text span {
        font-size: 12px;
      }
    }

    .ui-select-search {
      height: 100% !important;
      width: 95%;
    }

    .ui-select-choices {
      width: 95%;
      font-family: Lucida Grande, Lucida Sans, Arial, sans-serif;
      font-size: 1.1em;
    }

    .ui-select-match {
      outline: 0 !important;
      box-shadow: none;
      background: none;
    }

    .ui-select-choices-row a {
      color: #333;
    }
  }

  button:focus {
    outline: 0 !important;
  }

  .tr--hotelFilter {
    height: 60px;
    &__item {
      height: 100%;

      .title {
        font-weight: bold;
        font-size: 14px;
      }
    }

    label {
      font-size: 18px;
    }
    .glyphicon-star,
    .glyphicon-star-empty {
      color: #f3b600;
      font-size: 18px;
    }

    margin-bottom: 15px;

    &__price {
      padding: 7px 10px 4px 10px !important;

      button {
        margin: 0 5px 0 5px;
      }

      .highlight {
        border: 1px solid #4992dc;
        color: #4992dc;
      }
    }

    .form-group {
      padding: 10px;
      border-right: 1px solid #ddd;
      border: 1px solid rgba(86, 61, 124, .2);
    }

  }

  @media (min-width: 240px) and (max-width: 700px) {

    * {
      -webkit-box-sizing: content-box;
      -moz-box-sizing: content-box;
      box-sizing: content-box;
    }

    .search_box {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }

    .tr-reviewTab {
      box-sizing: border-box;
      padding-top: 10px;

      .btn-active {
        margin-top: -30px;
      }
    }

    .tr-citySearch--short {
      display: block;
      font-size: 11px;
      width: 100%;

      .form-group {
        padding: 10px;
      }

      .ui-select-select-search,
      .ui-select-toggle {
        width: 66%;
        padding: 10px 10px 10px 10px;
      }
    }

    .ui-select-toggle {
      display: block;
      font-size: 11px;
    }

    .trip-reviewer .tr-citySearch .ui-select-toggle {
      width: 85% !important;
    }

    .tr-citySearch {
      .search_box ul li,
      .ui-select-match,
      .ui-select-choices,
      .ui-select-search,
      .ui-select-toggle {
        width: 65%;
      }
    }

    .listing,
    .search_results {
      width: 100%;
      margin: auto;
    }

    .col-xs-3,
    .review_pop,
    .pop_panel {
      padding: 0 !important;
      margin: 0 !important;
    }

    .tr--hotelFilter {
      display: none;
    }

    .tr-reviewTab {
      .tab-btn {
        display: none;
      }

    }

    h1, .h1, h2, .h2, h3, .h3 {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  .pop_panel {
    padding: 0 !important;
    margin: 0 !important;
  }

}

.tr-map {
  height: 400px;
}

.modal {
  .tr--hotelCarousel {
    dm-carrousel {
      .dm-car-container {
        margin-left: 20%;
        .dm-car {
          width: 350px;
          height: 253px;

          img {
            width: 350px;
          }
        }
      }
      .dm-car-controls {
        //top: 91px;
        width: 350px;
        .dm-car-control {
          height: 233px;
          line-height: 233px;
        }
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  .modal {
    .modal-body {
      padding: 0;
    }
    .tr--hotelCarousel {
      dm-carrousel {
        .dm-car-container {
          margin-left: 0;
          .dm-car {
            margin: auto;
          }
        }
        .dm-car-controls {
          width: 350px;
          .dm-car-control {
            height: 233px;
            line-height: 233px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 320px) {
  .modal {
    .modal-body {
      padding: 0;
      margin: 0;
    }
    .tr--hotelCarousel {
      dm-carrousel {
        .dm-car-container {
          margin-left: 0;
        }
        .dm-car-controls {
          width: 320px;
          .dm-car-control {
            height: 233px;
            line-height: 233px;
          }
        }
      }
    }
  }
}