<style>
@media (max-width: 700px) and (min-width: 240px){
.trip-reviewer *{
    box-sizing: inherit !important;
	webkit-box-sizing: inherit !important;
    -moz-box-sizing: inherit !important;
}
}
</style>

<div ng-controller="HotelListController as hlc" class="search_results">

    <div class="results_block clearfix">
        <div>
            <!--<form class="form-inline tr--hotelFilter">
                <div class="form-group tr--hotelFilter__item">
                    <label>
                        Filter</label>
                    <a href="#" ng-click="clearFilters()">
                        <small>Clear All</small>
                    </a>
                </div>
                <div class="form-group tr--hotelFilter__item">
                    <label>Stars: </label>
                    <uib-rating ng-model="hotelFilter.rating" max="hotelFilter.max"
                                aria-labelledby="default-rating"></uib-rating>
                </div>

                <div class="form-group tr--hotelFilter__price tr--hotelFilter__item">
                    <label class="pull-left">Price: </label>
                    <button class="btn btn-default" ng-class="hotelFilter.price.xs ? 'highlight' : ''"
                            ng-click="priceFilter('xs')" popover-placement="bottom" uib-popover="less than $90"
                            popover-trigger="mouseenter"> $
                    </button>
                    <button class="btn btn-default" ng-class="hotelFilter.price.sm ? 'highlight' : ''"
                            ng-click="priceFilter('sm')" popover-placement="bottom" uib-popover="between $90 and $150 "
                            popover-trigger="mouseenter"> $$
                    </button>
                    <button class="btn btn-default" ng-class="hotelFilter.price.md ? 'highlight' : ''"
                            ng-click="priceFilter('md')" popover-placement="bottom" uib-popover="between $150 and $260"
                            popover-trigger="mouseenter"> $$$
                    </button>
                    <button class="btn btn-default" ng-class="hotelFilter.price.lg ? 'highlight' : ''"
                            ng-click="priceFilter('lg')" popover-placement="bottom" uib-popover="higher than $260"
                            popover-trigger="mouseenter"> $$$$
                    </button>
                </div>

                <div ng-if="amenities" class="form-group tr--hotelFilter__item">
                    <span class="title">Amenities: </span>

                    <isteven-multi-select
                            input-model="amenities"
                            output-model="hotelFilter.selectedAmenities"
                            button-label="name"
                            item-label="name maker"
                            tick-property="ticked"
                            max-labels="3"
                            helper-elements="none,filter"
                            max-height="150px">
                    </isteven-multi-select>
                </div>
            </form>-->
        </div>


        <div ng-show="showSearch" class="panel panel-default tr-hotelSearch" ng-controller="HotelSearchController">
            <div class="panel-heading">
                <h3 class="panel-title">Search
                <span class="pull-right">
                    <button type="button" class="close" aria-label="Close" ng-click="$parent.showSearch = false"><span
                            aria-hidden="true">×</span></button>
                </span>
                </h3>
            </div>
            <div class="panel-body">
                <form class="form-inline1">

                    <div class="form-group col-md-4">
                        <label>City</label>
                        <ui-select class="tr-citySearch--short" ng-model="hotelSearch.city" id="inner_city_search"
                                   theme="bootstrap"
                                   ng-disabled="disabled" style="width: 350px;">
                            <ui-select-match placeholder="Search by Cities, Airport, Hotel name & Zip code"
                                             allow-clear="false">
                                {{$select.selected.value}}
                            </ui-select-match>
                            <ui-select-choices group-by="groupByHotelType"

                                               repeat="hotel in hotels | propsFilter: {value: $select.search}"
                                               refresh="suggestHotels($select.search)">
                                <div ng-bind-html="hotel.value | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="form-group col-md-2">
                        <label>Check In</label>
                        <input
                                id="inner_checkin"
                                class="form-control"
                                type="text" id="from" name="from"
                                ng-model="hotelSearch.in"
                                bs-datepicker
                                data-min-date="today"
                                placeholder="check-in "
                                data-date-format="yyyy-MM-dd" data-autoclose="1" data-placement="bottom">
                    </div>
                    <div class="form-group col-md-2">
                        <label>Check Out</label>
                        <input
                                id="inner_checkout"
                                class="form-control"
                                type="text" id="to" name="to"
                                ng-model="hotelSearch.out"
                                bs-datepicker
                                data-min-date="today"
                                placeholder="check-out"
                                data-date-format="yyyy-MM-dd" data-autoclose="1" data-placement="bottom">
                    </div>

                    <div class="form-group col-md-1">
                        <label>Rooms</label>
                        <select id="inner_rooms"
                                class="form-control"
                                name="rooms" ng-model="hotelSearch.rooms" convert-to-number>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                        </select>
                    </div>
                    <div class="form-group col-md-1">
                        <label>Guests</label>
                        <select id="innner_adults"
                                class="form-control"
                                name="adults" ng-model="hotelSearch.numberofadults" convert-to-number>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                        </select>
                    </div>
                    <div class="form-group col-md-1">
                        <button class="btn btn-primary search-btn" ng-click="search()" id="inner_find"><i
                                class="glyphicon glyphicon-search"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
        
        
         <div class="listing tr-Listing tr-hotelSort">
            <div class="tr-hotelSort__bar">
                <span class="bold pull-left">SORT:</span>
                <ul class="inline-list tr-hotelSort__list">

                    <li class="sort sortenable" data-typesort="Recommendations">
                        <a ng-click="sortHotels('price')" class="active" href="javascript:void(0)">Price
                            <i ng-hide="sortList.price === undefined" class="glyphicon  sort-icon"
                               ng-class="sortList.price ? 'glyphicon-chevron-up' : 'glyphicon-chevron-down' "></i>
                        </a>
                    </li>

                    <li class="sort" data-typesort="star">
                        <a ng-click="sortHotels('starRating')" class="active" href="javascript:void(0)">Star Rating
                            <i ng-hide="sortList.starRating === undefined" class="glyphicon  sort-icon"
                               ng-class="sortList.starRating ? 'glyphicon-chevron-up' : 'glyphicon-chevron-down' "></i>
                        </a></li>
                    <li class="sort">
                        <a ng-click="sortHotels('name')" class="active" href="javascript:void(0)">Name
                            <i ng-hide="sortList.name === undefined" class="glyphicon  sort-icon"
                               ng-class="sortList.name ? 'glyphicon-chevron-up' : 'glyphicon-chevron-down' "></i>
                        </a></li>
                </ul>

                <ul class="inline-list pull-right tr-hotelSort__searchText">
                    <li>
                        <button class="btn btn-xs btn-default" ng-click="toggleSearch()"><i
                                class="glyphicon glyphicon-edit"></i> Edit
                        </button>
                    </li>
                    <li class="sort">
                        {{searchString}}
                    </li>
                </ul>
            </div>
        </div>
<div class="row">
 <div class="col-md-3 col-xs-12">
  <section class ="catalog-filter">
  <div>
  <div class="h4"><span>Filter by</span><span style="float:right;font-size:12px;cursor:pointer"><a href="" class="active" ng-click="clearFilters()">Clear All</a></span></div>
  <ul class="filter-container" id="filter-container">
		<li class="offers full-expand" data-label="Offers" data-param="offers">
         <div class="h6 text-uppercase" ng-click="expandHotel = !expandHotel;resetHotelName(expandHotel)">
            Hotel Name<span class="selected-count"></span><span class="hide-border"></span>
            <div class="expand-collapse pull-right" >
            	<span ng-class="{'expand-icon':expandHotel,'collapse-icon':!expandHotel}" ng-model='expandHotel' ng-init="expandHotel=true"></span></div>
         </div>
         <div class="options" ng-if="expandHotel">
           	<div class="brand-search-container">
            	<span class="common-sprite"></span>
            	<input type="text" class="form-control search-input" id="hotelNameInput" ng-model="hotelNameSearch" ng-change="hotelNameFilter(this.hotelNameSearch)" placeholder="Search Hotel" style="padding: 6px 35px !important;">
            </div>
         </div>
      </li>
      <li class="price full-expand" data-label="Price" data-param="price">
         <div class="h6 text-uppercase" ng-click="expandRating = !expandRating;resetRating(expandRating)">
            Rating<span class="selected-count"></span><span class="hide-border"></span>
            <div class="expand-collapse pull-right" >
            	<span ng-class="{'expand-icon':expandRating,'collapse-icon':!expandRating}" ng-model='expandRating' ng-init="expandRating=true"></span></div>
         </div>
         <div class="options" ng-if="expandRating">
           	<div class= "child-facet" >
            	<uib-rating ng-model="hotelFilter.rating" max="hotelFilter.max"
                                aria-labelledby="default-rating">
                    <i class="fa fa-sun-o" aria-hidden="true"></i>
                </uib-rating>
            </div>
         </div>
      </li>
      <li class="price full-expand" data-label="Price" data-param="price">
          <div class="h6 text-uppercase" ng-click="expandTRRating = !expandTRRating;resetTRRating(expandTRRating)">
              TripReviewer Rating<span class="selected-count"></span><span class="hide-border"></span>
              <div class="expand-collapse pull-right" >
                  <span ng-class="{'expand-icon':expandTRRating,'collapse-icon':!expandTRRating}" ng-model='expandTRRating' ng-init="expandTRRating=true"></span></div>
          </div>
          <div class="options" ng-if="expandTRRating">
              <uib-rating ng-model="hotelFilter.trrating" max="hotelFilter.max"
                          aria-labelledby="default-rating" state-on="'tr-rating'" state-off="'tr-rating-empty'"></uib-rating>
          </div>
      </li>
      <li class="brand-filter" data-label="Price" data-param="price">
         <div class="h6 text-uppercase" ng-click="expandPrice = !expandPrice;resetSelectedPrice(expandPrice)">
            Price<span class="selected-count"></span><span class="hide-border"></span>
            <div class="expand-collapse pull-right" >
            	<span ng-class="{'expand-icon':expandPrice,'collapse-icon':!expandPrice}" ng-model='expandPrice' ng-init="expandPrice=true"></span></div>
         </div>
         <div class="options" ng-if="expandPrice">
           	<div class= "child-facet" >	
           		<!-- <rzslider rz-slider-model="slider_translate.minValue" rz-slider-high="slider_translate.maxValue" rz-slider-options="slider_translate.options"  style="top:0px"/> -->
           		<label class="" class="" ng-repeat = "price in priceFilters">
           			<div class="custom-radio" ><span></span><input type="radio" name="priceFilter" ng-model="price.ticked" value="{{price.name}}" ng-click="priceFilter(price, price.ticked)"></div>
           			<a class="filter-link" href="" title="">{{price.description}}</a>
           		</label>
           	</div>	
         </div>
      </li>
      <li class="brand-filter" data-label="Brand" data-param="brands">
         <div class="h6 text-uppercase" ng-click="expandAmineties = !expandAmineties;resetSelectedAmenities(expandAmineties)">
            Amenities<span class="selected-count"></span><span class="hide-border"></span>
            <div class="expand-collapse pull-right">
            <span ng-class="{'expand-icon':expandAmineties,'collapse-icon':!expandAmineties}" ng-model='expandAmineties' ng-init="expandAmineties=true"></span></div>
         </div>
         <div class="options" ng-if="expandAmineties">
            <div class="child-facet">
            	<label class="" ng-repeat = "amenity in amenities">
            	<div class="custom-checkbox "><span></span><input type="checkbox" ng-model="amenity.ticked" ng-click="amenitiesFilter(amenity,amenity.ticked)"></div>
               <a class="filter-link" href="" title="">{{amenity.name}}</a>
               </label>
            </div>
         </div>
      </li>
      <li class="brand-filter" data-label="Brand" data-param="brands" ng-if="hotelList">
         <div class="h6 text-uppercase" ng-click="expandLocation = !expandLocation; resetSelectedLocations(expandLocation)">
            Near By<span class="selected-count"></span><span class="hide-border"></span>
            <div class="expand-collapse pull-right">
            <span ng-class="{'expand-icon':expandLocation,'collapse-icon':!expandLocation}" ng-model='expandLocation' ng-init="expandLocation=true"></span></div>
         </div>
         <div class="options" ng-if="expandLocation">
            <div class="child-facet">
            	<label class="" ng-repeat = "location in locations">
            	<div class="custom-checkbox "><span></span><input type="checkbox" ng-model="location.ticked" ng-click="locationFilter(location,location.ticked)"></div>
               <a class="filter-link" href="" title="{{location.location}}">{{location.location}}</a>
               </label>
            </div>
         </div>
      </li>
       
   </ul>
	</div>
	 </section> 
   
   </div>
<div class="col-md-9" ng-init="$root.showFeedback = true">
		  <div class="listing tr-Listing trip-reviewer * ng-scope" ng-if="!searchProgress">
            <div class="tr-Listing__header" ng-if="!searchProgress">
                <p ng-if="filteredCount > 0">
                        <span class="tr-Listing__header tr-Listing__resultsLabel">
                            Showing Results: <label>{{filteredCount}}</label>
                        </span>
                    Weather:
                        <span class="tr-Listing__header tr-Listing__weather" ng-repeat="w in weatherData">
                            <img src="{{w.weatherImage}}">
                            <label>{{w.day}}</label>
                            <span>{{w.low}} {{w.high}}</span>
                        </span>
                </p>
             </div>
              <label ng-if="filteredCount ===0" style="text-align:center">No Results Found. Try again with different filters or search
                    criteria.</label>
        </div>
         <div class="listing tr-Listing" ng-if="searchProgress">
            <div class="tr-Listing__progress">
                <div class="circles-loader">
                    Loading…
                </div>
            </div>
        </div>
		  <div class="listing" ng-show="hotel.visible" ng-hide="!hotel.price"
             ng-repeat="hotel in hotelList | limitTo: hotelsToShow">

            <figure class="pull-left">
                <a href="javascript:void(0);" ng-click="showPhotos(hotel.photos, hotel.id)">
                    <img src="{{hotel.photos[0].path}}" class="hotel_pic" alt="{{hotel.name}}" title="{{hotel.name}}">

				
                </a>
            </figure>

            <script type="text/ng-template" id="myPopoverTemplate.html">
                <ul>
                    <li ng-repeat="(key, review) in hotel.readReviews" ng-if="review.rating">
                        <div class="col-xs-6 pull-left noPadding">{{capitalize(key == 'bdc' ? 'booking.com' : key)}}</div>
                        <div class="col-xs-4 pull-right">{{review.rating}}</div>
                    </li>
                </ul>
            </script>
            <div class="listing-contents">

                <h5>
                    <a href="{{hotel.detailURL}}"
                       target="_blank" class="hotel_detail_view" ng-click="trackGA('hotel',hotel.name)">{{hotel.name}}</a></h5>
                        <div class="pull-left col-xs-12 location pad-top-10">{{hotel.displayAddress}}
                        
                    </div>

                <div class="static-ratings col-xs-9">
                <div class="row">
                    <div class="pull-left pad-top-10">
                        <span class="block">Star Rating</span>
                        <span class="static-rating rating-{{hotel.starRating * 10}}">{{hotel.starRating}} stars</span>
                    </div>
                    <div class="pull-left pad-top-10 pad-left-15"
                         popover-placement="bottom" uib-popover-template="'myPopoverTemplate.html'"
                         popover-trigger="mouseenter">

                        <span class="block">TripReviewer Rating</span>
                        <span class="static-tr-rating rating-{{hotel.averageRating}}">{{hotel.averageRating}} stars</span>
                    </div>

                    <div class="pull-left col-xs-12 location pad-top-10"><span>{{hotel.distance | number:2}} miles from city center</span>
                        <button data-geo="" ng-click="showMap(hotel)"
                                class="location-icon cboxElement">&nbsp;</button>
                    </div>

                    <div ng-if="hotel.foursquare" class="foursquare_data pull-left text-muted">
                        <img class="foursquare_icon" src="images/foursquare.png" alt="four square">
                        <span class="pad-left-5 totalVisitors">Total visitors <span>{{hotel.foursquare.totalVisitors}}</span>,</span>
                        <span class="pad-left-5 totalVisits">Total visits <span>{{hotel.foursquare.totalVisits}}</span></span>
                    </div>
                    <div ng-if="!hotel.foursquare" style="height:40px !important" class="foursquare_data pull-left text-muted" >
                    	&nbsp;
                    </div>
                    </div>
                </div>

                <div class="pull-right col-xs-3">
                    <div class="rate_block">
                        <span>Rates from</span>

                        <h3 ng-if="hotel.price">${{hotel.price}}</h3>

                        <h3 ng-if="!hotel.price" class="tr-Listing__rateNotAvailable">Not Available</h3>
                    	
                    </div>
                    
                </div>

                <div class="col-xs-12 btn_cont popupHeader tr-reviewTab">
                <div class="row">
                    <div class="pull-left">
                        <a rel="read_review" class="btn-hide-cls tab-btn pull-left"
                           ng-class="hotel.popUpList.readReviews ? 'tab-btn-active' : ''"
                           ng-click="togglePopup(hotel,'readReviews')">Read Reviews
                        </a>
                        <a rel="write_review" class="btn-hide-cls tab-btn  pull-left"
                           ng-class="hotel.popUpList.writeReviews ? 'tab-btn-active' : ''"
                           ng-click="togglePopup(hotel, 'writeReviews')">Write Reviews
                        </a>
                        <a rel="nearby" class="btn-hide-cls tab-btn  pull-left"
                           ng-class="hotel.popUpList.restaurants ? 'tab-btn-active' : ''"
                           ng-click="togglePopup(hotel, 'restaurants')">Near by Restaurants
                        </a>
                        <!--<a rel="check_rates" class="btn-hide-cls btn-hide-cls2 btn action pull-right"
                           ng-class="hotel.popUpList.rates ? 'btn-active' : ''"
                           ng-click="togglePopup(hotel, 'rates')" style="right:0px">CHECK RATES
                        </a>-->
                        <a rel="check_rates" class="btn-hide-cls btn action pull-left" ng-class="hotel.popUpList.rates ? 'btn-active' : ''" ng-click="togglePopup(hotel, 'rates')">CHECK RATES</a>
                    </div>
                    </div>
                </div>

            </div>

            <div class="review_pop" ng-class="hotel.popupVisible ? 'active' : 'hidden'">
                <div id="nearby" class="pop_panel nearby_rest" ng-show="hotel.popUpList.restaurants">
                    <a href="javascript:void(0)" class="close_btn">
                        <img src="/images/close_btn.png" width="24" height="24" ng-click="closePopup(hotel)"></a>
                    <hgroup>
                        <h2>Near by Restaurants</h2>
                    </hgroup>

                    <div class="listing tr-Listing tr--nearByRestaurantsProgress" ng-if="nearByRestaurantsProgress">
                        <div class="tr-Listing__progress">
                            <div class="circles-loader">
                                Loading…
                            </div>
                        </div>
                    </div>

                    <ul class="restuarants_preview tr--nearByRestaurants">
                        <li ng-repeat="restaurant in hotel.nearByRestaurants">
                            <div class="col-xs-12 margintopbot-0 paddingleftright-0">
                                <div class="col-xs-4 imgcont">
                                    <img src="{{restaurant.image}}"
                                         class="img-responsive" alt="" title="">
                                </div>
                                <div class="col-xs-8">
                                    <p class="hotel-heading"><a
                                            href="{{restaurant.detailUrl}}"
                                            target="_blank" class="hotel_detail_view">{{restaurant.name}}</a></p>

                                    <p>{{restaurant.cuisineType}}</p>
                                </div>
                            </div>
                        </li>
                    </ul>

                </div>

                <div id="write_review" class="pop_panel" ng-show="hotel.popUpList.writeReviews">
                    <a href="javascript:void(0)" class="close_btn"><img src="/images/close_btn.png" width="24"
                                                                        height="24" ng-click="closePopup(hotel)"></a>
                    <hgroup>
                        <h2>Write Reviews</h2>
                    </hgroup>

                    <ul class="write_reviews">
                        <li ng-if="reviewData.reviewWriteURL"
                            ng-repeat="(reviewType, reviewData) in hotel.writeReviews">
                            <a href="{{reviewData.reviewWriteURL}}" target="_blank" ng-click="trackGA('Write Reviews', reviewType)">
                                <img src="{{reviewData.icon}}">
                            </a>
                        </li>
                    </ul>
                </div>

                <div id="read_review" class="pop_panel" ng-show="hotel.popUpList.readReviews">
                    <a href="javascript:void(0)" class="close_btn" ng-click="closePopup(hotel)">
                        <img src="/images/close_btn.png" width="24" height="24"></a>

                    <hgroup>
                        <h2>Read Reviews</h2>
                    </hgroup>

                    <div class="col-xs-12 read-Reviews">
                        <div class="col-md-3">
                            <table class="table bold">
                                <tbody>
                                <tr class="read-reviews-provider " ng-click="showReview(hotel, reviewType)"
                                    ng-repeat="(reviewType, reviewData) in hotel.readReviews | orderObjectBy : 'rating' : false"
                                    ng-class="reviews[reviewType + '-'+ hotel.id] ? 'active-review' : ''">
                                    <td>
                                        <img ng-if="reviewType !== 'expedia' && reviewType !== 'bdc'" src="{{reviewData.icon}}">
                                        <a href="{{reviewData.providerURL}}" target="_blank">
                                            <img ng-if="reviewType === 'expedia' || reviewType === 'bdc'" src="{{reviewData.icon}}">
                                        </a>
                                    </td>
                                    <td>{{reviewData.rating}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="col-md-9">

                            <div ng-show="reviews[reviewType + '-'+ hotel.id]" class="tr-hotelReview col-xs-12"
                                 ng-repeat="(reviewType, reviewData) in hotel.readReviews">

                                <div ng-if="reviewType==='tripadvisor'">
                                    <iframe class="iframe_block" src="{{reviewData.providerURL}}">

                                    </iframe>
                                </div>
                                <div class="col-xs-12 margin-top10  margin-bottom20 "
                                     ng-repeat="review in reviewData.reviews" ng-if="reviewType !=='tripadvisor' && reviewType !=='trustyou' ">
                                    <p>
                                        <span class="static-rating rating-0">{{review.rating}} stars</span>
                                        <br>{{review.reviewText}}
									</p>
                                </div>
 								<div class="col-xs-12 margin-top10  margin-bottom20 "
                                     ng-repeat="review in reviewData.reviews" ng-if="reviewType !=='tripadvisor'  && reviewType ==='trustyou'">
                                    <p>
                                        <div ng-if="review.reviewType">
                                        <div class="col-md-3"><h6 class="big-font">{{review.reviewType}}</h6></div></span>
                                        <div class="col-md-4"><div class="progress"> <div ng-class="classNameForProgressBar(review.reviewTypeScore)" role="progressbar" aria-valuenow="{{review.reviewTypeScore}}" aria-valuemin="0" aria-valuemax="100" style="width:{{review.reviewTypeScore}}%"></div></div></div>
                                        <div class="col-md-5"><p>{{review.reviewText}}</p></div>
                                    </p>
                                </div>
                                <div class="col-xs-12  margin-bottom20 " ng-if="reviewType !=='tripadvisor' && reviewType !== 'bdc' && reviewType !=='trustyou'">
                                    <a href="{{reviewData.providerURL}}"
                                       target="_blank">Read more...</a>

                                    <div class="pull-right" ng-if="reviewType !=='expedia' && reviewType !=='bdc' ">Total Reviews: {{reviewData.reviews.length}}</div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div id="check_rates" class="pop_panel" ng-show="hotel.popUpList.rates">
                    <a href="javascript:void(0)" class="close_btn" ng-click="closePopup(hotel)">
                        <img src="/images/close_btn.png" width="24" height="24"></a>
                    <!--<hgroup>
                        <h2>Check Rates</h2>
                    </hgroup>-->
                    <table class="checkrates" width="100%" border="0" cellspacing="0" cellpadding="0">
                        <!--<thead>
                        <tr>
                            <th>&nbsp;</th>
                            <th class="avg_night_rate">Avg. Nightly Rate</th>
                            <th></th>
                        </tr>
                        </thead>-->

                        <tbody>
                        <tr ng-repeat="rateData in ratesPerPage">
                            <td>
                                <a href="{{rateData.providerURL}}" target="_blank" ng-click="trackGA('Book Now', rateData.providerKey)">
                                    <img src="{{rateData.icon}}">
                                </a>
                            </td>
                            <td class="avg_night_rate col-md-7 text-left">
                                <span class="roomDescription border-lft" ng-if="rateData.roomDescription" title="{{rateData.roomDescription}}">{{rateData.roomDescription | limitTo : 40}}{{rateData.roomDescription.length > 40 ? '...' : ''}}</span>
                                <span ng-if="rateData.refund">{{rateData.refund}}</span>
                                <!--<b>${{rateData.roomPrice}}/night</b>-->
                            </td>
                            <td class="col-md-1 padding-top15"><p class="border-lft"><b>$ {{rateData.roomPrice}}</b></p></td>
                            <td class="col-md-2">
                                <a href="{{rateData.providerURL}}"
                                   target="_blank" class="greenBook hotelbookexp booknow" ng-click="trackGA('Book Now', rateData.providerKey)">Book Now
                                </a>
                            </td>
                        </tr>
                        <tr ng-hide="hotel.rates.length === ratesPerPage.length">
                            <td colspan="4" align="center" >
                                <button class="load-more-btn" href="#" ng-click="loadMore(hotel)">Load More</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>


                </div>

            </div>
        </div>

    </div>
    </div>
    </div>
    
    
    <script type="text/ng-template" id="photos.html">
        <div class="modal-header">
            <h3 class="modal-title">Hotel Photos
                <span class="pull-right">
                    <button type="button" class="close" aria-label="Close"
                            ng-click="closePhotos()"><span
                            aria-hidden="true">×</span></button>
                </span>
            </h3>
        </div>
        <div class="modal-body">
            <div class="tr--hotelCarousel">
                <dm-carrousel image-data="photos"></dm-carrousel>
            </div>
        </div>
    </script>

    <script type="text/ng-template" id="iceportalphotos.html">
        <div class="modal-header">
            <h3 class="modal-title">Hotel Photos
                <span class="pull-right">
                    <button type="button" class="close" aria-label="Close"
                            ng-click="closeMap()"><span
                            aria-hidden="true">×</span></button>
                </span>
            </h3>
        </div>
        <div class="modal-body">
            <iframe class="iframe_block tr-map" src="{{iceUrl}}"></iframe>
        </div>
    </script>

    <script type="text/ng-template" id="map.html">
        <div class="modal-header">
            <h3 class="modal-title">Hotel Location
                <span class="pull-right">
                    <button type="button" class="close" aria-label="Close"
                            ng-click="closeMap()"><span
                            aria-hidden="true">×</span></button>
                </span>
            </h3>
        </div>
        <div class="modal-body">
            <iframe class="iframe_block tr-map" src="{{mapURL}}"></iframe>
        </div>
    </script>
</div>
