<div id="header">
    <header>
        <div class="loading-line"></div>
        <h1><a href="#!/"></a></h1>

        <section class="container">
            <nav>
                <ul id="menu">
                    <li>
                        <a href="#!/" id="home">
                            <span class="icon-home"></span>Home </a>
                    </li>
                    <li class="active hotel">

                        <a href="#!/" id="hotel">
                            <span class="icon-hotel"></span>Hotels
                        </a>
                    </li>
                    <li class="restaurant">

                        <a href="/restaurants/index.html#restaurants" id="restaurants">
                            <span class="icon-restaurant"></span>Restaurants
                        </a>
                    </li>
                    <li class="manage_booking">
                        <a href="#!/manage_reservation.html"><span class=""></span>Manage Your Booking</a>
                    </li>
                </ul>
            </nav>
        </section>

        <article class="social_block">

            <a href="#/static/manage-reservations">Manage Your Booking</a>

            <a href="https://www.facebook.com/mytripreviewer" target="_blank" class="icon-facebook"></a>

            <a href="https://twitter.com/Tripreviewer" target="_blank" class="icon-twitter"></a>

            <a href="https://www.pinterest.com/tripreviewer/" target="_blank" class="icon-pinterest"></a>

            <a href="https://plus.google.com/u/0/b/116255934178574788851/116255934178574788851/about" target="_blank"
               class="icon-google"></a>

            <a href="jaavscript:void()0" target="_blank" class="login">Login</a>

            <a href="jaavscript:void()0" target="_blank" class="register">Register</a></article>
        <div class="inlineBorder"></div>
    </header>

</div>
