<footer class="ng-scope mrgn-tp20">
<div class="container">
<section><a href="javascript:window.scrollTo(0, 0)" class="scrollToTop"></a>
<ul>
<li><a href="#!/static/terms">Terms and condition</a></li>
<li><a href="#!/static/faq">FAQ</a></li>
<li><a href="#!/static/contact">Contact</a></li>
<li><a href="#!/static/privacy">Privacy Policy</a></li>
<li><a href="#!/static/copyright">Copy Right</a></li>
<li><a href="#!/static/about">About Us</a></li>
<li><a href="http://blog.tripreviewer.com/" target="_blank">Blog</a></li>
</ul>
<p><a href="http://tripadvisor.com" target="_blank">
	<img src="images/tripadvisor2.png"></a> 
	<a href="http://yelp.com" target="_blank"><img src="images/yelp.png"></a> <a href="http://foursquare.com" target="_blank"><img src="images/foursquare.png"></a>
	<a href="http://www.booking.com" target="_blank"><img src="images/booking.com.png"></a>
    <a href="http://google.com" target="_blank"><img src="images/google.png"></a>
    <a href="http://www.trustyou.com" target="_blank"><img src="images/trustyou.png"></a></p>
</section>
</div>
</footer>

<script type="text/javascript">
    var fby = fby || [];
    fby.push(['showTab', {id: '8519', position: 'right', color: '#FF1F3A'}]);
    (function() {
        var f = document.createElement('script');
        f.type = 'text/javascript';
        f.async = true;
        f.src = '//cdn.feedbackify.com/f.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(f, s);
    })();
</script>

<script> dataLayer = [];</script>
<!-- Google Tag Manager -->
<script type="text/javascript">

    dataLayer = [{

        'City': '{city name}',

        'State': '{state name}',

        'ordering': '{option}',

        'Meal': '{Meal option}',

        'Dietary': '{Dietary Options}',

        'Alochol': '{Alochol option}',

        'Extra': '{extra option}'

    }];


</script>
<noscript>
    <iframe src="//www.googletagmanager.com/ns.html?id=GTM-WNWNPV"
            height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<script>(function(w, d, s, l, i) {
    w[l] = w[l] || [];
    w[l].push({
        'gtm.start': new Date().getTime(), event: 'gtm.js'
    });
    var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
    j.async = true;
    j.src =
            '//www.googletagmanager.com/gtm.js?id=' + i + dl;
    f.parentNode.insertBefore(j, f);
})(window, document, 'script', 'dataLayer', 'GTM-WNWNPV');

</script>
<!-- End Google Tag Manager -->


<script type="text/javascript">
    adroll_adv_id = "KMSG2VEKBRE47KFDX6A6UQ";
    adroll_pix_id = "2KOGS3JCTNA3HEDPZIKFIG";
    (function() {
        var oldonload = window.onload;
        window.onload = function() {
            __adroll_loaded = true;
            var scr = document.createElement("script");
            var host = (("https:" == document.location.protocol) ? "https://s.adroll.com" : "http://a.adroll.com");
            scr.setAttribute('async', 'true');
            scr.type = "text/javascript";
            scr.src = host + "/j/roundtrip.js";
            ((document.getElementsByTagName('head') || [null])[0] ||
            document.getElementsByTagName('script')[0].parentNode).appendChild(scr);
            if (oldonload) {
                oldonload()
            }
        };
    }());

</script>


<!-- Google Code for Adwords Conversion Page -->
<script type="text/javascript">
    /* <![CDATA[ */
    var google_conversion_id = 953681193;
    var google_conversion_language = "en";
    var google_conversion_format = "3";
    var google_conversion_color = "ffffff";
    var google_conversion_label = "o4rRCPCYkVoQqYrgxgM";
    var google_remarketing_only = false;
    /* ]]> */

</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
    <div style="display:inline;">
        <img height="1" width="1" style="border-style:none;" alt=""
             src="//www.googleadservices.com/pagead/conversion/953681193/?label=o4rRCPCYkVoQqYrgxgM&amp;guid=ON&amp;script=0"/>
    </div>
</noscript>

<script src="//platform.twitter.com/oct.js" type="text/javascript"></script>
<script type="text/javascript">
    var oldontload = window.onload;
    window.onload = function() {
        twttr.conversion.trackPid('l5mzy', {tw_sale_amount: 0, tw_order_quantity: 0});
    }

</script>
<noscript>
    <img height="1" width="1" style="display:none;" alt=""
         src="https://analytics.twitter.com/i/adsct?txn_id=l5mzy&p_id=Twitter&tw_sale_amount=0&tw_order_quantity=0"/>
    <img height="1" width="1" style="display:none;" alt=""
         src="//t.co/i/adsct?txn_id=l5mzy&p_id=Twitter&tw_sale_amount=0&tw_order_quantity=0"/></noscript>


<!-- Facebook Conversion Code for Leads to homepage -->
<script>(function() {
    var _fbq = window._fbq || (window._fbq = []);
    if (!_fbq.loaded) {
        var fbds = document.createElement('script');
        fbds.async = true;
        fbds.src = '//connect.facebook.net/en_US/fbds.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(fbds, s);
        _fbq.loaded = true;
    }
})();
window._fbq = window._fbq || [];
window._fbq.push(['track', '6019185423059', {'value': '0.00', 'currency': 'USD'}]);

</script>
<noscript><img height="1" width="1" alt="" style="display:none"
               src="https://www.facebook.com/tr?ev=6019185423059&amp;cd[value]=0.00&amp;cd[currency]=USD&amp;noscript=1"/>
</noscript>


<script>(function() {
    var _fbq = window._fbq || (window._fbq = []);
    if (!_fbq.loaded) {
        var fbds = document.createElement('script');
        fbds.async = true;
        fbds.src = '//connect.facebook.net/en_US/fbds.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(fbds, s);
        _fbq.loaded = true;
    }
    _fbq.push(['addPixelId', '602958303169609']);
})();
window._fbq = window._fbq || [];
window._fbq.push(['track', 'PixelInitialized', {}]);

</script>
<noscript><img height="1" width="1" alt="" style="display:none"
               src="https://www.facebook.com/tr?id=602958303169609&amp;ev=PixelInitialized"/></noscript>