<!DOCTYPE html>
<html>
<head>
    <title ng-bind="TitleService.title()"></title>
    <meta charset="utf-8"/>
    <meta name="description" content="{{ MetaService.metaDescription() }}">
    <meta name="keywords" content="{{ MetaService.metaKeywords() }}">
    <meta http-equiv=”X-UA-Compatible” content=”IE=edge,chrome=1″>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <link rel="stylesheet" href="./styles/app.css" type="text/css">
    <link rel="stylesheet" href="./styles/circles.css" type="text/css">
    <link rel="stylesheet" href="./styles/main-styles.css" type="text/css">
	<title>Trip Reviewer</title>
	<meta name="google-site-verification" content="T2kTDmdiqtxujGd0UL9YYwT_s_OrxqpdvpTKvWjfNU8" />
</head>
<body ng-class="showFeedback ? '' : 'home'">
<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-NCF8C8"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-NCF8C8');</script>
<!-- End Google Tag Manager -->
<ng-include src="'./app.html'"></ng-include>
	  <script src="http://maps.googleapis.com/maps/api/js" ></script>
    <script src="//d2wy8f7a9ursnm.cloudfront.net/bugsnag-2.min.js" data-apikey="e39aba65780762fd2c06ec6f56abc4d6"></script>
    <script src="./tr-vendor.js"></script>
    <script src="./main.js"></script>
    <script>
    (function(i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function() {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-53416563-4', {'allowAnchor': true});
    ga('send', 'pageview');

</script>
</body>
</html>