<div class="banner">
    <ng-include src="'./modules/hotels/search.html'"></ng-include>
</div>

<div id="container">
    <ng-include src="'./modules/popular-destinations/popular-hotels.html'"></ng-include>
</div>
